doctype html
// Designined by CodingLab | www.youtube.com/codinglabyt
html(lang='en', dir='ltr')
  head
    meta(charset='UTF-8')
    // <title> Responsiive Admin Dashboard | CodingLab </title>
    link(rel='stylesheet', href='/css/admin-home.css')
    // Boxicons CDN Link
    link(href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/admin-management.css')
  body
    .sidebar
      .logo-details
        i.E
        a(href="/")
          span.logo_name EManga

      ul.nav-links
        li
          a.active(href='/admin/dashboard/1')
            i.bx.bx-grid-alt
            span.links_name Dashboard
        li
          a(href='/admin/management/1')
            i.bx.bx-box
            span.links_name Book Management
        li
          a(href='/admin/category/1')
            i.bx.bx-box
            span.links_name Tag Management
        li
          a(href='/admin/discount/1')
            i.bx.bx-list-ul
            span.links_name Discount Management 
        li
          a(href='/admin/sale')
            i.bx.bx-list-ul
            span.links_name Order list

        li.log_out
          a(href='/admin/login')
            i.bx.bx-log-out
            span.links_name Log out
    section.home-section
      nav
        .sidebar-button
          i.bx.bx-menu.sidebarBtn
          span.dashboard Dashboard
        //- .search-box
        //-   input(type='text', placeholder='Search...')
        //-   i.bx.bx-search
        //- .profile-details
        //-   // <img src="images/profile.jpg" alt="">
        //-   //- span.admin_name Admin : Lam
  
      .home-content
        .overview-boxes
          .box
            .right-side
              .box-topic Book sold
              .number #{totalBooks}
            i.bx.bx-cart-alt.cart
          .box
            .right-side
              .box-topic Books
              .number=data.length
            i.bx.bx-book-open.cart.two
          .box
            .right-side
              .box-topic Total 
              .number  $ #{totalProfits.toFixed(2)}
            i.bx.bxs-bank.cart.three
          .box
            .right-side
              .box-topic Users
              .number=userData.length
            i.bx.bxs-user.cart.four
        .sales-boxes
          .recent-sales.box
            .title Recent Sales
            .sales-details
              ul.details
                li.topic Date
                for order in orders
                    li
                      -const formattedDate = moment(order.createdDate).format('DD/MM/YYYY');
                      a() #{formattedDate}
              ul.details
                li.topic User
                for order in orders
                  li
                    a() #{order.userId.username.charAt(0).toUpperCase() + order.userId.username.slice(1)}
              ul.details
                li.topic Books
                for order in orders
                  li
                    a() #{order.items.length}
              
              ul.details
                li.topic Total
                for order in orders
                  li
                    a() $ #{order.finalTotal}
               
            .button
              a(href='/admin/sale') See All
          .top-sales.box
            ul.pagination.justify-content-center
              - const maxPagesToShow = totalPages; 
              - const middlePage = Math.ceil(maxPagesToShow/2);
              - let startPage = Math.max(currentPage - middlePage, 1);
              - let endPage = Math.min(startPage + maxPagesToShow - 1, totalPages);
              - if (endPage - startPage < maxPagesToShow) {
              -   startPage = Math.max(endPage - maxPagesToShow + 1, 1);
              - }    
              if currentPage > 1
                li.page-item
                  a.page-link(href=`/admin/dashboard/${currentPage-1}`) Previous
              - for (var i = startPage; i <= endPage; i++) {
                  li.page-item(class=i===currentPage ? 'active' : '')
                    a.page-link(href=`/admin/dashboard/${i}`)= i
              - }
              if (currentPage < totalPages)
                li.page-item
                  a.page-link(href=`/admin/dashboard/${currentPage+1}`) Next
            .title Top Seling Product
            ul.top-sales-details
              for book in topsellBook
                li
                  a.purchase-link()

                    span.product #{book.name}
                  span.luotmua #{book.countSale} purchases
                  span.price #{book.price}$
             
    script(src='/js/admin.js')