doctype html
// Designined by CodingLab | www.youtube.com/codinglabyt
html(lang='en', dir='ltr')
  head
    meta(charset='UTF-8')
    // <title> Responsiive Admin Dashboard | CodingLab </title>
    link(rel='stylesheet', href='/css/admin-home.css')
    // Boxicons CDN Link
    link(href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    .sidebar
      .logo-details
        i.E
        span.logo_name EManga
      ul.nav-links
        li
          a(href='/admin')
            i.bx.bx-grid-alt
            span.links_name Dashboard
        li
          a(href='/admin-management')
            i.bx.bx-box
            span.links_name Book management
        li
          a(href='')
            i.bx.bx-list-ul
            span.links_name Order list
        //- li.log_out
        //-   a(href='')
        //-     i.bx.bx-log-out
        //-     span.links_name Log out
    section.home-section
      nav
        .sidebar-button
          i.bx.bx-menu.sidebarBtn
          span.dashboard Dashboard
        //- .search-box
        //-   input(type='text', placeholder='Search...')
        //-   i.bx.bx-search
        //- .profile-details
        //-   // <img src="images/profile.jpg" alt="">
        //-   //- span.admin_name Admin : Lam
  
      .home-content
        .overview-boxes
          .box
            .right-side
              .box-topic Book sold
              .number #{totalBooks}

            i.bx.bx-cart-alt.cart
          .box
            .right-side
              .box-topic Books
              .number=data.length
              
            i.bx.bxs-cart-add.cart.two
          .box
            .right-side
              .box-topic Total 
              .number  $ #{totalProfits}
              
            i.bx.bx-cart.cart.three
          .box
            .right-side
              .box-topic Users
              .number=userData.length
             
            i.bx.fa-solid.fa-user.cart.four
        .sales-boxes
          .recent-sales.box
            .title Recent Sells
            .sales-details
              ul.details
                li.topic Date
                for order in orders
                    li
                   
                      a(href='#') #{order.createdDate}
                
              ul.details
                li.topic User
                for order in orders
                  li
                    a(href='#') #{order.userId}
              
              ul.details
                li.topic Books
                for order in orders
                  li
                    a(href='#') #{order.items.length}
              
              ul.details
                li.topic Total
                for order in orders
                  li
                    a(href='#') $ #{order.finalTotal}
               
            .button
              a(href='/admin-sale') See All
          .top-sales.box
            .title Top Seling Product
            ul.top-sales-details
              for book in topsellBook
                li
                  a(href='#')
                    // <img src="images/sunglasses.jpg" alt="">
                    span.product #{book.name}
                  span.price #{book.price}
             
    script(src='/js/admin.js')