doctype html
// Designined by CodingLab | www.youtube.com/codinglabyt
html(lang='en', dir='ltr')
  head
    meta(charset='UTF-8')
    // <title> Responsiive Admin Dashboard | CodingLab </title>
    link(rel='stylesheet', href='/css/admin-home.css')
    // Boxicons CDN Link
    link(href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/admin-management.css')
  body
    .sidebar
      .logo-details
        i.E
        span.logo_name EManga
      ul.nav-links
        li
          a.active(href='/admin/dashboard/1')
            i.bx.bx-grid-alt
            span.links_name Dashboard
        li
          a(href='/admin/management/1')
            i.bx.bx-box
            span.links_name Book managment
        li
          a(href='/admin/category/1')
            i.bx.bx-box
            span.links_name Tag management
        li
          a(href='/admin/discount/1')
              i.bx.bx-list-ul
              span.links_name Discount Management 
        li
          a(href='/admin/sale')
            i.bx.bx-list-ul
            span.links_name Order list
        li.log_out
          a(href='/admin/login')
            i.bx.bx-log-out
            span.links_name Log out


    section.home-section
      nav
        .sidebar-button
          i.bx.bx-menu.sidebarBtn
          span.dashboard Dashboard
        //- .search-box
        //-   input(type='text', placeholder='Search...')
        //-   i.bx.bx-search
        //- .profile-details
        //-   // <img src="images/profile.jpg" alt="">
        //-   span.admin_name Prem Shahi
        //-   i.bx.bx-chevron-down
      .home-content
        .overview-boxes
          .box
            .right-side
              .box-topic Total Order
              .number #{orderData.length}
              //
                <div class="indicator">
                <i class='bx bx-up-arrow-alt'></i>
                <span class="text">Up from yesterday</span>
                </div>
            i.bx.bx-cart-alt.cart
          .box
            .right-side
              .box-topic Total Books Sold
              .number #{totalBooks}
            i.bx.bx-book-open.cart.two
          .box
            .right-side
              .box-topic Total Profit
              .number $ #{totalProfits.toFixed(2)}
            i.bx.bxs-bank.cart.three
              main

        // Table
        .table-data
          table.table
            thead
              tr
                th(scope='col') Date
                th(scope='col') User
                th(scope='col') Books
                th(scope='col') Total




            tbody#tbody
                each order in orderData
                    tr
                    - const formattedDate = moment(order.createdDate).format('DD/MM/YYYY');
                    th( scope="row") #{formattedDate}
                    th( scope="row") #{order.userId.username.charAt(0).toUpperCase() + order.userId.username.slice(1)}
                    th( scope="row") #{order.items.length}
                    th( scope="row") $ #{order.finalTotal}
                    //- th( scope="row")
                                            
                    //-         button#btn-update.btn.btn-warning 
                    //-             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    //-             <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    //-             </svg>

                    //-         button#btn-delete.btn.btn-danger X

               
    // Labels
    //- .w-100.btn.btn-success.insertmsg Data Inserted Successfully...!
    //- .w-100.btn.btn-warning.updatemsg Data Updated..! Refresh Database To See Result
    //- .w-100.btn.btn-danger.deletemsg Data Deleted..!
    //- script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    //- script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    //- // Include Dexie
    //- script(src='https://unpkg.com/dexie@latest/dist/dexie.js')
    //- // Custom main file
    script(src='/js/admin.js')