doctype html

html(lang='en', dir='ltr')
    head
        meta(charset='UTF-8')
        // <title> Responsiive Admin Dashboard | CodingLab </title>
        link(rel='stylesheet', href='/css/admin-home.css')
        // Boxicons CDN Link
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
        link(href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css', rel='stylesheet')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
        link(rel='stylesheet', href='/css/admin-management.css')
        
    body
        .sidebar
            .logo-details
                i.E
                a(href="/")
                    span.logo_name EManga
            ul.nav-links
                li
                    a(href='/admin/dashboard/1')
                        i.bx.bx-grid-alt
                        span.links_name Dashboard
                li
                    a(href='/admin/management/1')
                        i.bx.bx-box
                        span.links_name Book managment
                li
                    a(href='/admin/category/1')
                        i.bx.bx-box
                        span.links_name Tag management
                li
                    a.active(href='/admin/discount/1')
                        i.bx.bx-list-ul
                        span.links_name Discount management
                li
                    a(href='/admin/sale')
                        i.bx.bx-list-ul
                        span.links_name Order list
                li.log_out
                    a(href='/admin/login')
                        i.bx.bx-log-out
                        span.links_name Log out
         
                //- li.log_out
                //-     a(href='/admin/login')
                //-         i.bx.bx-log-out
                //-         span.links_name Log out
        section.home-section
            nav
                .sidebar-button
                    i.bx.bx-menu.sidebarBtn
                    span.dashboard Discount Management
        
            .home-content
                button(id="add-discount-btn"  class='btn btn-success' type="submit") Add new Discount 
                form#add-discount-form.hidden
                    input#dis-name.form-control(type="text", name="name", required, placeholder="Discount name")
                    input#dis-description.form-control(type="text", name="name", required, placeholder="Discount Rate")
                    button(type="submit" class="btn btn-primary") Add
                // Table
                .table-data
                    table.table
                        thead
                            tr
                                th(scope='col') Discount name
                                th(scope='col') Discount Rate
                                th(scope='col') Action



                        tbody#tbody
                            each discount in discounts.reverse()
                                tr
                                th( scope="row") #{discount.discountName}
                                th( scope="row") #{discount.discountRate}
                                th( scope="row")
                                    button(id=`btn-delete`  class='btn btn-danger deleteDisButton' data-dis-id=discount._id) X
                        ul.pagination.justify-content-center
                            - const maxPagesToShow = totalPages; 
                            - const middlePage = Math.ceil(maxPagesToShow/2);
                            - let startPage = Math.max(currentPage - middlePage, 1);
                            - let endPage = Math.min(startPage + maxPagesToShow - 1, totalPages);
                            - if (endPage - startPage < maxPagesToShow) {
                            -   startPage = Math.max(endPage - maxPagesToShow + 1, 1);
                            - }    
                            if currentPage > 1
                                li.page-item
                                    a.page-link(href=`/admin/discount/${currentPage-1}`) Previous
                            - for (var i = startPage; i <= endPage; i++) {
                                li.page-item(class=i===currentPage ? 'active' : '')
                                    a.page-link(href=`/admin/discount/${i}`)= i
                            - }
                            if (currentPage < totalPages)
                                li.page-item
                                    a.page-link(href=`/admin/discount/${currentPage+1}`) Next
    script(src='/js/admin.js' )