doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    link(
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
      rel="stylesheet"
      )
    
    script(var stripePublicKey = 'pk_test_51MwJlsK54HlkliE6zSFSgYLmzilMR8F8z4k9Uni8OvLAcvGv5kxi2LBjWfDMricBAPeDZEwVwHiwEWG3dgEbkX9Q00ljMiDta4')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
    link(
      href="css/gio-hang.css" 
      rel="stylesheet"
      )
    script(
      src="js/main.js" 
      type="text/javascript"
      defer
      )
    link(
      href="fontawesome_free_5.13.0/css/all.css" 
      rel="stylesheet"
      )
    link(
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      )
    link(
      href="slick/slick.css" 
      type="text/css" 
      rel="stylesheet"
      )
    link(
      href="slick/slick-theme.css" 
      type="text/css" 
      rel="stylesheet"
      )
    script(
      src="slick/slick.min.js" 
      type="text/javascript"
      )
    link(
      href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" 
      rel="stylesheet"
      )
    script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
    script(
      src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js" 
      type="text/javascript"
      )
    link(
      href="favicon_io/apple-touch-icon.png" 
      sizes="180x180" 
      rel="apple-touch-icon"
      )
    link(
      href="favicon_io/favicon-32x32.png" 
      sizes="32x32" 
      type="image/png" 
      rel="icon"
      )
    link(
      href="favicon_io/favicon-16x16.png" 
      sizes="16x16" 
      type="image/png" 
      rel="icon"
      )
    link(
      href="favicon_io/site.webmanifest" 
      rel="manifest"
      )
  body
    // code cho nut like share facebook
    #fb-root
    script(
      src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0" 
      crossorigin="anonymous" 
      defer="" 
      async=""
      )
    // header
    nav.navbar.navbar-expand-md.bg-white.navbar-light
      .container
        // logo
        a.navbar-brand(
          style="color: #CF111A;" 
          href="/"
          )
          b EManga

        // navbar-toggler
        button.navbar-toggler.d-lg-none(
          aria-label="Toggle navigation" 
          aria-expanded="false" 
          aria-controls="collapsibleNavId" 
          data-target="#collapsibleNavId" 
          data-toggle="collapse" 
          type="button"
          )
          span.navbar-toggler-icon
        #collapsibleNavId.collapse.navbar-collapse
          // form tìm kiếm
          form#form-search.form-inline.ml-auto.my-2.my-lg-0.mr-3
            .input-group(style="width: 520px;")
              input.form-control(
                placeholder="Enter the book you want to search..." 
                aria-label="Small" 
                type="text"
                id="search"
                )
              .input-group-append
                button.btn(
                  style="background-color: #CF111A; color: white;" 
                  type="submit"
                  )
                  i.fa.fa-search
          // ô đăng nhập đăng ký giỏ hàng trên header
          ul.navbar-nav.mb-1.ml-auto
            .dropdown
              li.nav-item.account(
                data-toggle="dropdown" 
                type="button"
                )
                a.btn.btn-secondary.rounded-circle(href="#")
                  if decoded.image
                    img#img-account(alt="account-image" src=decoded.image)
                  else
                    i.fa.fa-user
                a.nav-link.text-dark.text-uppercase(
                  style="display:inline-block" 
                  href="/tai-khoan"
                  )
                  if token 
                    p#username
                      |#{user && user.username}
                  else 
                    | Account
              .dropdown-menu(aria-labelledby="dropdownMenuButton")
                if token
                  a.dropdown-item.nutdangky.text-center.mb-2( 
                  href="/tai-khoan"
                  style="cursor: pointer"
                  ) Account detail
                  a.dropdown-item.nutdangky.text-center.mb-2( 
                  id="logout"
                  style="cursor: pointer"
                  ) Logout
                else 
                  a.dropdown-item.nutdangky.text-center.mb-2(
                    data-target="#formdangky" 
                    data-toggle="modal" 
                    href="#"
                    ) Signup
                  a.dropdown-item.nutdangnhap.text-center(
                    data-target="#formdangnhap" 
                    data-toggle="modal" 
                    href="#"
                    ) Signin
            li.nav-item.giohang
              a.btn.btn-secondary.rounded-circle(href="gio-hang")
                i.fa.fa-shopping-cart
                .cart-amount 0
              a.nav-link.text-dark.giohang.text-uppercase(
                  style="display:inline-block" 
                  href="gio-hang"
                  )
                  | My cart
    // form dang ky khi click vao button tren header
    #formdangky.modal.fade.mt-5(
      aria-hidden="true" 
      aria-labelledby="dangky_tieude" 
      tabindex="-1" 
      data-backdrop="static"
      )
      .modal-dialog
        .modal-content
          .modal-header
            ul.tabs.d-flex.justify-content-around.list-unstyled.mb-0
              li.tab.tab-dangnhap.text-center
                a.text-decoration-none Đăng nhập
                hr
              li.tab.tab-dangky.text-center
                a.text-decoration-none Đăng ký
                hr
            button.close(
              aria-label="Close" 
              data-dismiss="modal" 
              type="button"
              )
              span(aria-hidden="true") ×
          .modal-body
            form#form-signup.form-signin.mt-2
              .form-label-group
                input.form-control(
                  autofocus="" 
                  required="" 
                  name="name" 
                  placeholder="Nhập họ và tên" 
                  type="text"
                  )
              .form-label-group
                input.form-control(
                  required="" 
                  name="phone" 
                  placeholder="Nhập số điện thoại" 
                  type="text"
                  )
              .form-label-group
                input.form-control(
                  required="" 
                  name="email" 
                  placeholder="Nhập địa chỉ email" 
                  type="email"
                  )
              .form-label-group
                input.form-control(
                  required="" 
                  name="password" 
                  placeholder="Nhập mật khẩu" 
                  type="password"
                  )
              .form-label-group.mb-4
                input.form-control(
                  required="" 
                  placeholder="Nhập lại mật khẩu" 
                  name="confirm_password" 
                  type="password"
                  )
              button.btn.btn-lg.btn-block.btn-signin.text-uppercase.text-white.mt-3(
                style="background: #F5A623" 
                type="submit"
                ) Đăng ký
              hr.mt-3.mb-2
              .custom-control.custom-checkbox
                p.text-center Bằng việc đăng ký, bạn đã đồng ý với DealBook về
                a.text-decoration-none.text-center(
                  style="color: #F5A623" 
                  href="#"
                  )
                  | Điều khoản dịch
                  |   vụ & Chính sách bảo mật
    // form dang nhap khi click vao button tren header
    #formdangnhap.modal.fade.mt-5(
      aria-hidden="true" 
      aria-labelledby="dangnhap_tieude" 
      tabindex="-1" 
      data-backdrop="static"
      )
      .modal-dialog
        .modal-content
          .modal-header
            ul.tabs.d-flex.justify-content-around.list-unstyled.mb-0
              li.tab.tab-dangnhap.text-center
                a.text-decoration-none Đăng nhập
                hr
              li.tab.tab-dangky.text-center
                a.text-decoration-none Đăng ký
                hr
            button.close(
              aria-label="Close" 
              data-dismiss="modal" 
              type="button"
              )
              span(aria-hidden="true") ×
          .modal-body
            form#form-signin.form-signin.mt-2
              .form-label-group
                input.form-control(
                  autofocus="" 
                  required="" 
                  name="email" 
                  placeholder="Nhập địa chỉ email" 
                  type="email"
                  )
              .form-label-group
                input.form-control(
                  required="" 
                  name="password" 
                  placeholder="Mật khẩu" 
                  type="password"
                  )
              .custom-control.custom-checkbox.mb-3
                input#customCheck1.custom-control-input(type="checkbox")
                label.custom-control-label(for="customCheck1") Nhớ mật khẩu
                a.float-right.text-decoration-none(
                  style="color: #F5A623" 
                  href="#"
                  )
                  | Quên mật
                  |   khẩu
              button.btn.btn-lg.btn-block.btn-signin.text-uppercase.text-white(
                style="background: #F5A623" 
                type="submit"
                ) Đăng nhập
              hr.my-4
              button.btn.btn-lg.btn-google.btn-block.text-uppercase(type="submit")
                i.fab.fa-google.mr-2
                | Đăng nhập bằng Google
              button.btn.btn-lg.btn-facebook.btn-block.text-uppercase(type="submit")
                i.fab.fa-facebook-f.mr-2
                | Đăng nhập bằng Facebook
    // thanh "danh muc sach" đã được ẩn bên trong + hotline + ho tro truc tuyen
    section.duoinavbar
      .container.text-white
        .row.justify
          .col-lg-3.col-md-5
            .categoryheader
              .noidungheader.text-white
                i.fa.fa-bars
                span.text-uppercase.font-weight-bold.ml-1 Danh mục sách
              // CATEGORIES
              .categorycontent
                ul  
                  for tag in tags
                    li
                      a(href="#") #{tag.name}
                      i.fa.fa-chevron-right.float-right


          .col-md-5.ml-auto.contact.d-none.d-md-block
            .benphai.float-right
              .hotline
                i.fa.fa-phone
                span
                  | Hotline:
                  b 1900 1999
              i.fas.fa-comments-dollar
              a(href="#") Hỗ trợ trực tuyến
    // giao diện giỏ hàng
    section.content.my-3
      .container
        .cart-page.bg-white
          .row
            // giao diện giỏ hàng khi không có item
            .col-12.cart-empty.d-none
              .py-3.pl-3
                h6.header-gio-hang
                  | GIỎ HÀNG CỦA BẠN
                  span (0 sản phẩm)
                .cart-empty-content.w-100.text-center.justify-content-center
                  img(
                    alt="shopping-cart-not-product" 
                    src="images/shopping-cart-not-product.png"
                    )
                  p Chưa có sản phẩm nào trong giở hàng của bạn
                  a.btn.nutmuathem.mb-3(href="/") Mua thêm
            // giao diện giỏ hàng khi có hàng (phần comment màu xanh bên dưới là phần 2 sản phẩm trong giỏ hàng nhưng giờ đã demo bằng jquery)
            .col-md-8.cart
              .cart-content.py-3.pl-3

            // giao diện phần thanh toán nằm bên phải

            if !empty
              .col-md-4.cart-steps.pl-0
                #cart-steps-accordion(
                  aria-multiselectable="true" 
                  role="tablist"
                  )



                    .card
                      #step1header.card-header(role="tab")
                        h5.mb-0
                          a.text-uppercase.header(
                            aria-controls="step3contentid" 
                            aria-expanded="true" 
                            href="#step3contentid" 
                            data-parent="#cart-steps-accordion" 
                            data-toggle="collapse"
                            )
                            span.steps 
                            span.label Thanh toán đặt mua
                            i.fa.fa-chevron-right.float-right

                          hr
                          .pttt
                            h6.header.text-uppercase Chọn phương thức thanh toán
                            .option.mb-2
                              input#cod(
                                checked="" 
                                name="pttt" 
                                type="radio"
                                )
                              label(for="cod") Thanh toán bằng Momo
                            .option.option2
                              input#atm(
                                name="pttt" 
                                type="radio"
                                )
                              label.chuyenkhoan(for="atm")
                                | Thanh toán chuyển khoản trước
                                |   qua Thẻ ATM/Internet Banking
                              p.mt-4
                                | - Quý khách chỉ chuyển khoản khi được xác nhận có đủ
                                |   sách qua điện thoại từ Emanga

                          hr
                          if
                          form(action="payment" method="POST")
                            button.btn.btn-lg.btn-block.btn-checkout.text-uppercase.text-white(style="background: #F5A623") Đặt mua
                              script(
                                src="https://checkout.stripe.com/v2/checkout.js"
                                class="stripe-button"
                                data-key="pk_test_51MwJlsK54HlkliE6zSFSgYLmzilMR8F8z4k9Uni8OvLAcvGv5kxi2LBjWfDMricBAPeDZEwVwHiwEWG3dgEbkX9Q00ljMiDta4"
                                data-amount="1000"
                                data-currency="usd"
                                data-name="Stripe"
                                data-description="Buy Manga"
                                data-locale="auto"
                            )

                          p.text-center.note-before-checkout
                            | (Vui lòng kiểm tra lại đơn hàng
                            |   trước khi Đặt Mua)
            // het div cart-steps
            // het row
            // het cart-page
            // het container
            // het khoi content
            // thanh cac dich vu :mien phi giao hang, qua tang mien phi ........
            section.abovefooter.text-white(style="background-color: #CF111A; margin-top:500px")
              .container
                .row
                  .col-lg-3.col-sm-6
                    .dichvu.d-flex.align-items-center
                      img(
                        alt="icon-books" 
                        src="images/icon-books.png"
                        )
                      .noidung
                        h6.tieude.font-weight-bold HƠN 14.000 TỰA SÁCH HAY
                        p.detail Tuyển chọn bởi DealBooks
                  .col-lg-3.col-sm-6
                    .dichvu.d-flex.align-items-center
                      img(
                        alt="icon-ship" 
                        src="images/icon-ship.png"
                        )
                      .noidung
                        h6.tieude.font-weight-bold MIỄN PHÍ GIAO HÀNG
                        p.detail Từ 150.000đ ở TP.HCM
                        p.detail Từ 300.000đ ở tỉnh thành khác
                  .col-lg-3.col-sm-6
                    .dichvu.d-flex.align-items-center
                      img(
                        alt="icon-gift" 
                        src="images/icon-gift.png"
                        )
                      .noidung
                        h6.tieude.font-weight-bold QUÀ TẶNG MIỄN PHÍ
                        p.detail Tặng Bookmark
                        p.detail Bao sách miễn phí
                  .col-lg-3.col-sm-6
                    .dichvu.d-flex.align-items-center
                      img(
                        alt="icon-return" 
                        src="images/icon-return.png"
                        )
                      .noidung
                        h6.tieude.font-weight-bold ĐỔI TRẢ NHANH CHÓNG
                        p.detail Hàng bị lỗi được đổi trả nhanh chóng
            footer
              .container.py-4
                .row
                  .col-md-3.col-xs-6
                    .gioithieu
                      h6.header.text-uppercase.font-weight-bold Về DealBook
                      a(href="#") Giới thiệu về DealBook
                      a(href="#") Tuyển dụng
                      .fb-like(
                        data-share="true" 
                        data-size="small" 
                        data-action="like" 
                        data-layout="button" 
                        data-width="300px" 
                        data-href="https://www.facebook.com/DealBook-110745443947730/"
                        )
                        
                  .col-md-3.col-xs-6
                    .hotrokh
                      h6.header.text-uppercase.font-weight-bold HỖ TRỢ KHÁCH HÀNG
                      a(href="#") Hướng dẫn đặt hàng
                      a(href="#") Phương thức thanh toán
                      a(href="#") Phương thức vận chuyển
                      a(href="#") Chính sách đổi trả
                  .col-md-3.col-xs-6
                    .lienket
                      h6.header.text-uppercase.font-weight-bold HỢP TÁC VÀ LIÊN KẾT
                      img(
                        alt="dang-ky-bo-cong-thuong" 
                        src="images/dang-ky-bo-cong-thuong.png"
                        )
                  .col-md-3.col-xs-6
                    .ptthanhtoan
                      h6.header.text-uppercase.font-weight-bold Phương thức thanh toán
                      img(
                        alt="visa-payment" 
                        src="images/visa-payment.jpg"
                        )
                      img(
                        alt="master-card-payment" 
                        src="images/master-card-payment.jpg"
                        )
                      img(
                        alt="jcb-payment" 
                        src="images/jcb-payment.jpg"
                        )
                      img(
                        alt="atm-payment" 
                        src="images/atm-payment.jpg"
                        )
                      img(
                        alt="cod-payment" 
                        src="images/cod-payment.jpg"
                        )
                      img(
                        alt="payoo-payment" 
                        src="images/payoo-payment.jpg"
                        )
            // nut cuon len dau trang
            .fixed-bottom
              #backtotop.btn.btn-warning.float-right.rounded-circle.nutcuonlen(
                style="background:#CF111A;" 
                href="#"
                )
                i.fa.fa-chevron-up.text-white

