-function shuffle(array) {
-        for (let i = array.length - 1; i > 0; i--) {
-          const j = Math.floor(Math.random() * (i + 1));
-          [array[i], array[j]] = [array[j], array[i]];
-        }
-      }
- function favorBook(array, bookId) {
-       for (let i = array.length - 1; i > 0; i--) {
-         if (array[i] == bookId){
-             return true;
-     }
-   return false;
-}
-}
doctype html
html(lang="vi")
  head
    title Home Page
    meta(
      content="Mua sách online hay, giá tốt nhất, combo sách hot bán chạy, giảm giá cực khủng cùng với những ưu đãi như miễn phí giao hàng, quà tặng miễn phí, đổi trả nhanh chóng. Đa dạng sản phẩm, đáp ứng mọi nhu cầu." 
      name="description"
      )
    meta(
      content="nhà sách online, mua sách hay, sách hot, sách bán chạy, sách giảm giá nhiều" 
      name="keywords"
      )
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    link(
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
      rel="stylesheet"
      )
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
    link(
      href="css/home.css" 
      rel="stylesheet"
      )
    script(
      src="js/main.js" 
      type="text/javascript"
      defer
      )
    link(
      href="fontawesome_free_5.13.0/css/all.css" 
      rel="stylesheet"
      )
    link(
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      )
    link(
      href="slick/slick.css" 
      type="text/css" 
      rel="stylesheet"
      )
    link(
      href="slick/slick-theme.css" 
      type="text/css" 
      rel="stylesheet"
      )
    script(
      src="slick/slick.min.js" 
      type="text/javascript"
      )
    script(
      src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js" 
      type="text/javascript"
      )

    link(
      href="http://dealbook.xyz/" 
      rel="canonical"
      )
    meta(
      content="urDZLDaX8wQZ_-x8ztGIyHqwUQh2KRHvH9FhfoGtiEw" 
      name="google-site-verification"
      )
    link(
      href="favicon_io/apple-touch-icon.png" 
      sizes="180x180" 
      rel="apple-touch-icon"
      )
    link(
      href="favicon_io/favicon-32x32.png" 
      sizes="32x32" 
      type="image/png" 
      rel="icon"
      )
    link(
      href="favicon_io/favicon-16x16.png" 
      sizes="16x16" 
      type="image/png" 
      rel="icon"
      )
    link(
      href="favicon_io/site.webmanifest" 
      rel="manifest"
      )
    style.
      img[alt="www.000webhost.com"]{display: none;}
  body
    // code cho nut like share facebook
    #fb-root
    script(
      src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0" 
      crossorigin="anonymous" 
      defer="" 
      async=""
      )
    #toast-container
      #toast-message
    // header
    nav.navbar.navbar-expand-md.bg-white.navbar-light
      .container
        // logo
        a.navbar-brand(
          style="color: #CF111A;" 
          href="/"
          )
          b EManga
        // navbar-toggler
        button.navbar-toggler.d-lg-none(
          aria-label="Toggle navigation" 
          aria-expanded="false" 
          aria-controls="collapsibleNavId" 
          data-target="#collapsibleNavId" 
          data-toggle="collapse" 
          type="button"
          )
          span.navbar-toggler-icon
        #collapsibleNavId.collapse.navbar-collapse
          // form tìm kiếm
          form#form-search.form-inline.ml-auto.my-2.my-lg-0.mr-3
            .input-group(style="width: 520px;")
              input.form-control(
                placeholder="Enter the book you want to search..." 
                aria-label="Small" 
                type="text"
                id="search"
                )
              .input-group-append
                button.btn(
                  style="background-color: #CF111A; color: white;" 
                  type="submit"
                  )
                  i.fa.fa-search
          // ô đăng nhập đăng ký giỏ hàng trên header
          ul.navbar-nav.mb-1.ml-auto
            .dropdown
              li.nav-item.account(
                data-toggle="dropdown" 
                type="button"
                )
                a.btn.btn-secondary.rounded-circle(href="#")
                  if decoded.image
                    img#img-account(alt="account-image" src=decoded.image)
                  else
                    i.fa.fa-user
                a.nav-link.text-dark.text-uppercase(
                  style="display:inline-block" 
                  href="/tai-khoan"
                  )
                  if token 
                    |#{decoded.username}
                  else 
                    | Account
              .dropdown-menu(aria-labelledby="dropdownMenuButton")
                if token
                  a.dropdown-item.nutdangky.text-center.mb-2( 
                  href="/tai-khoan"
                  style="cursor: pointer"
                  ) Account detail
                  a.dropdown-item.nutdangky.text-center.mb-2( 
                  id="logout"
                  style="cursor: pointer"
                  ) Logout
                else 
                  a.dropdown-item.nutdangky.text-center.mb-2(
                    data-target="#formdangky" 
                    data-toggle="modal" 
                    href="#"
                    ) Signup
                  a.dropdown-item.nutdangnhap.text-center(
                    data-target="#formdangnhap" 
                    data-toggle="modal" 
                    href="#"
                    ) Signin
            if token
              li.nav-item.giohang
                a.btn.btn-secondary.rounded-circle(href="/gio-hang")
                  i.fa.fa-shopping-cart
                  .cart-amount 0
                a.nav-link.text-dark.giohang.text-uppercase(
                  style="display:inline-block" 
                  href="gio-hang"
                  )
                  | My cart
    // form dang ky khi click vao button tren header
    #formdangky.modal.fade.mt-5(
      aria-hidden="true" 
      aria-labelledby="dangky_tieude" 
      tabindex="-1" 
      data-backdrop="static"
      )
      .modal-dialog
        .modal-content
          .modal-header
            ul.tabs.d-flex.justify-content-around.list-unstyled.mb-0
              li.tab.tab-dangnhap.text-center
                a.text-decoration-none Signin
                hr
              li.tab.tab-dangky.text-center
                a.text-decoration-none Signup
                hr
            button.close(
              aria-label="Close" 
              data-dismiss="modal" 
              type="button"
              )
              span(aria-hidden="true") ×
          .modal-body
            form#form-signup.form-signin.mt-2
              .form-label-group
                input.form-control(
                  required="" 
                  name="email" 
                  placeholder="Enter email address" 
                  type="email"
                  id="signup-email"
                  )
              .form-label-group
                input.form-control(
                  required="" 
                  name="text" 
                  placeholder="Enter full name" 
                  type="text"
                  id="signup-username"
                  )
              .form-label-group
                input.form-control(
                  required="" 
                  name="password" 
                  placeholder="Enter password" 
                  type="password"
                  id="inputPassword"
                  )
              .form-label-group.mb-4
                input.form-control(
                  required="" 
                  placeholder="Confirm the password" 
                  name="confirm_password" 
                  type="password"
                  id='confirm_password'
                  )
              button.btn.btn-lg.btn-block.btn-signin.text-uppercase.text-white.mt-3(
                style="background: #F5A623" 
                type="submit"
                ) Signup
              hr.mt-3.mb-2
              .custom-control.custom-checkbox
                p.text-center By registering, you agree to Emanga about
                a.text-decoration-none.text-center(
                  style="color: #F5A623" 
                  )
                  | Translation Terms
                  | Service & Privacy Policy
    // form dang nhap khi click vao button tren header
    #formdangnhap.modal.fade.mt-5(
      aria-hidden="true" 
      aria-labelledby="dangnhap_tieude" 
      tabindex="-1" 
      data-backdrop="static"
      )
      .modal-dialog
        .modal-content
          .modal-header
            ul.tabs.d-flex.justify-content-around.list-unstyled.mb-0
              li.tab.tab-dangnhap.text-center
                a.text-decoration-none Signin
                hr
              li.tab.tab-dangky.text-center
                a.text-decoration-none Signup
                hr
            button.close(
              aria-label="Close" 
              data-dismiss="modal" 
              type="button"
              )
              span(aria-hidden="true") ×
          .modal-body
            form#form-signin.form-signin.mt-2
              .form-label-group
                input.form-control.hi(
                  id="email"
                  autofocus="" 
                  required="" 
                  name="email" 
                  placeholder="Enter email address" 
                  type="email"
                  )
              .form-label-group
                input.form-control(
                  id="password"
                  required="" 
                  name="password" 
                  placeholder="Password" 
                  type="password"
                  )
              //- .custom-control.custom-checkbox.mb-3
              //-   input#customCheck1.custom-control-input(type="checkbox")
              //-   label.custom-control-label(for="customCheck1") Nhớ mật khẩu
              //-   a.float-right.text-decoration-none(
              //-     style="color: #F5A623" 
              //-     href="#"
              //-     )
              //-     | Quên mật
              //-     |   khẩu
              button.btn.btn-lg.btn-block.btn-signin.text-uppercase.text-white(
                style="background: #F5A623" 
                type="submit"
                ) Signin
              hr.my-4
              //- button.btn.btn-lg.btn-google.btn-block.text-uppercase(type="submit")
              //-   i.fab.fa-google.mr-2
              //-   | Đăng nhập bằng Google
              //- button.btn.btn-lg.btn-facebook.btn-block.text-uppercase(type="submit")
              //-   i.fab.fa-facebook-f.mr-2
              //-   | Đăng nhập bằng Facebook
    // thanh tieu de "danh muc sach" + hotline + ho tro truc tuyen
    section.duoinavbar
      .container.text-white
        .row.justify
          .col-md-3
            .categoryheader
              .noidungheader.text-white
                i.fa.fa-bars
                span.text-uppercase.font-weight-bold.ml-1 Book category
    // noi dung danh muc sach(categories) + banner slider
    section.header.bg-light
      .container
        .row
          .col-md-3(style="margin-right: -15px;")
            // CATEGORIES
            .categorycontent
              ul
                each tag in tags
                  li
                    a(title=tag.name
                  data-placement="" 
                  data-toggle="" 
                  style="" 
                  href=('/tag/' + tag.name + "?limit=10"))=tag.name 
                      i.fa.fa-chevron-right.float-right
          // banner slider
          .col-md-9.px-0
            #carouselId.carousel.slide(data-ride="carousel")
              ol.nutcarousel.carousel-indicators.rounded-circle
                li.active(
                  data-slide-to="0" 
                  data-target="#carouselId"
                  )
                li(
                  data-slide-to="1" 
                  data-target="#carouselId"
                  )
                li(
                  data-slide-to="2" 
                  data-target="#carouselId"
                  )
              .carousel-inner
                .carousel-item.active
                  a(href="#")
                    img.img-fluid(
                      alt="First slide" 
                      width="900px" 
                      style="height: 386px;" 
                      src="https://c.bookwalker.jp/ex/img/f/global_feature_banner/6407f1d636c743.21938002.jpeg"
                      )
                .carousel-item
                  a(href="#")
                    img.img-fluid(
                      alt="Second slide" 
                      width="900px" 
                      style="height: 386px;" 
                      src="https://c.bookwalker.jp/ex/img/f/global_feature_banner/63e5e4efea6d77.22400198.jpeg"
                      )
                .carousel-item
                  a(href="#")
                    img.img-fluid(
                      alt="Third slide" 
                      style="height: 386px;" 
                      src="https://c.bookwalker.jp/ex/img/f/global_feature_banner/63db23b587d013.77130851.jpeg"
                      )
              a.carousel-control-prev(
                data-slide="prev" 
                href="#carouselId"
                )
                span.carousel-control-prev-icon(aria-hidden="true")
                span.sr-only Previous
              a.carousel-control-next(
                data-slide="next" 
                href="#carouselId"
                )
                span.carousel-control-next-icon(aria-hidden="true")
                span.sr-only Next
    // khoi sach moi
    section.combohot.mt-4(class="_1khoi")
      .container
        .noidung.bg-white(style=" width: 100%;")
          .row
            // header
            .col-12.d-flex.justify-content-between.align-items-center.pb-2.bg-light
              h2.header.text-uppercase(style="font-weight: 400;") GENERAL BOOK
              a.btn.btn-warning.btn-sm.text-white(href="/product-list/general-book/1") See all
          .khoisanpham
            
            // 1 san pham
            -shuffle(data)
            each book in data 
              .card(id="card-"+book._id)
                a.motsanpham(
                  title=book.name 
                  data-placement="bottom" 
                  data-toggle="tooltip" 
                  style="text-decoration: none; color: black;" 
                  href=('/product/' + book._id)
                  
                  )
                  img.card-img-top.anh(
                    alt="lap-ke-hoach-kinh-doanh-hieu-qua" 
                    src= book.image
                    )
                  .card-body.noidungsp.mt-3
                    h3.card-title.ten=book.name
                    small.tacgia.text-muted=book.author
                    .gia.d-flex.align-items-baseline
                      .giamoi
                        | #{(book.price - book.price*book.saleRate/100).toFixed(2)} $
                      .giacu.text-muted 
                        |#{book.price} $
                      .sale
                        |-#{book.saleRate}%
                    .like 
                      span.countLike(id="like-count-"+book._id)
                        |Favourite: #{book.countLike}
                      if token
                        if (-favorBook(token.favorbooks, book._id))
                          i.fa.fa-heart.active(data-book-id=book._id)
                        else 
                          i.fa.fa-heart(data-book-id=book._id)
                        //- i.far.fa-heart
                    .sell 
                      span 
                        |Purchases: #{book.countSale}
                    //- .danhgia
                    //-   ul.d-flex(style="list-style: none;")
                    //-     li.active
                    //-       i.fa.fa-star
                    //-     li.active
                    //-       i.fa.fa-star
                    //-     li.active
                    //-       i.fa.fa-star
                    //-     li.active
                    //-       i.fa.fa-star
                    //-     li
                    //-       i.fa.fa-star
                    //-     li
                    //-       span.text-muted 0 nhận xét
            //- .card
            //-   a.motsanpham(
            //-     title="Ma Bùn Lưu Manh Và Những Câu Chuyện Khác Của Nguyễn Trí" 
            //-     data-placement="bottom" 
            //-     data-toggle="tooltip" 
            //-     style="text-decoration: none; color: black;" 
            //-     href="Ma-bun-luu-manh-va-nhung-cau-chuyen-khac-cua-nguyen-tri.html"
            //-     )
            //-     img.card-img-top.anh(
            //-       alt="ma-bun-luu-manh" 
            //-       src="images/ma-bun-luu-manh.jpg"
            //-       )
            //-     .card-body.noidungsp.mt-3
            //-       h3.card-title.ten
            //-         | Ma Bùn Lưu Manh Và Những Câu Chuyện Khác Của Nguyễn
            //-         |   Trí
            //-       small.tacgia.text-muted Nguyễn Trí
            //-       .gia.d-flex.align-items-baseline
            //-         .giamoi 68.000 ₫
            //-         .giacu.text-muted 85.000 ₫
            //-         .sale -20%
            //-       .danhgia
            //-         ul.d-flex(style="list-style: none;")
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li
            //-             i.fa.fa-star
            //-           li
            //-             span.text-muted 0 nhận xét
            //- .card
            //-   a.motsanpham(
            //-     title="Bank 4.0 - Giao dịch mọi nơi, không chỉ là ngân hàng" 
            //-     data-placement="bottom" 
            //-     data-toggle="tooltip" 
            //-     style="text-decoration: none; color: black;" 
            //-     href="#"
            //-     )
            //-     img.card-img-top.anh(
            //-       alt="bank-4.0" 
            //-       src="images/bank-4.0.jpg"
            //-       )
            //-     .card-body.noidungsp.mt-3
            //-       h3.card-title.ten Bank 4.0 - Giao dịch mọi nơi, không chỉ là ngân hàng
            //-       small.tacgia.text-muted Brett King
            //-       .gia.d-flex.align-items-baseline
            //-         .giamoi 111.200 ₫
            //-         .giacu.text-muted 139.000 ₫
            //-         .sale -20%
            //-       .danhgia
            //-         ul.d-flex(style="list-style: none;")
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li
            //-             i.fa.fa-star
            //-           li
            //-             span.text-muted 0 nhận xét
            //- .card
            //-   a.motsanpham(
            //-     title="Bộ Sách 500 Câu Chuyện Đạo Đức - Những Câu Chuyện Tình Thân (Bộ 8 Cuốn)" 
            //-     data-placement="bottom" 
            //-     data-toggle="tooltip" 
            //-     style="text-decoration: none; color: black;" 
            //-     href="#"
            //-     )
            //-     img.card-img-top.anh(
            //-       alt="bo-sach-500-cau-chuyen-dao-duc" 
            //-       src="images/bo-sach-500-cau-chuyen-dao-duc.jpg"
            //-       )
            //-     .card-body.noidungsp.mt-3
            //-       h3.card-title.ten
            //-         | Bộ Sách 500 Câu Chuyện Đạo Đức - Những Câu Chuyện
            //-         |   Tình Thân (Bộ 8 Cuốn)
            //-       small.tacgia.text-muted Nguyễn Hạnh - Trần Thị Thanh Nguyên
            //-       .gia.d-flex.align-items-baseline
            //-         .giamoi 111.200 ₫
            //-         .giacu.text-muted 139.000 ₫
            //-         .sale -20%
            //-       .danhgia
            //-         ul.d-flex(style="list-style: none;")
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li
            //-             i.fa.fa-star
            //-           li
            //-             span.text-muted 0 nhận xét
            //- .card
            //-   a.motsanpham(
            //-     title="Lịch Sử Ung Thư - Hoàng Đế Của Bách Bệnh" 
            //-     data-placement="bottom" 
            //-     data-toggle="tooltip" 
            //-     style="text-decoration: none; color: black;" 
            //-     href="#"
            //-     )
            //-     img.card-img-top.anh(
            //-       alt="ung-thu-hoang-de-cua-bach-benh" 
            //-       src="images/ung-thu-hoang-de-cua-bach-benh.jpg"
            //-       )
            //-     .card-body.noidungsp.mt-3
            //-       h3.card-title.ten Lịch Sử Ung Thư - Hoàng Đế Của Bách Bệnh
            //-       small.tacgia.text-muted Siddhartha Mukherjee
            //-       .gia.d-flex.align-items-baseline
            //-         .giamoi 111.200 ₫
            //-         .giacu.text-muted 139.000 ₫
            //-         .sale -20%
            //-       .danhgia
            //-         ul.d-flex(style="list-style: none;")
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li
            //-             i.fa.fa-star
            //-           li
            //-             span.text-muted 0 nhận xét
            //- .card
            //-   a.motsanpham(
            //-     title="Cuốn Sách Khám Phá: Trời Đêm Huyền Diệu" 
            //-     data-placement="bottom" 
            //-     data-toggle="tooltip" 
            //-     style="text-decoration: none; color: black;" 
            //-     href="#"
            //-     )
            //-     img.card-img-top.anh(
            //-       alt="troi-dem-huyen-dieu" 
            //-       src="images/troi-dem-huyen-dieu.jpg"
            //-       )
            //-     .card-body.noidungsp.mt-3
            //-       h3.card-title.ten Cuốn Sách Khám Phá: Trời Đêm Huyền Diệu
            //-       small.tacgia.text-muted Disney Learning
            //-       .gia.d-flex.align-items-baseline
            //-         .giamoi 111.200 ₫
            //-         .giacu.text-muted 139.000 ₫
            //-         .sale -20%
            //-       .danhgia
            //-         ul.d-flex(style="list-style: none;")
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li
            //-             i.fa.fa-star
            //-           li
            //-             span.text-muted 0 nhận xét
            //- .card
            //-   a.motsanpham(
            //-     title="Bộ Sách Những Câu Chuyện Cho Con Thành Người Tử Tế (Bộ 5 Cuốn)" 
            //-     data-placement="bottom" 
            //-     data-toggle="tooltip" 
            //-     style="text-decoration: none; color: black;" 
            //-     href="#"
            //-     )
            //-     img.card-img-top.anh(
            //-       alt="bo-sach-nhung-cau-chuyen-cho-con-thanh-nguoi-tu-te" 
            //-       src="images/bo-sach-nhung-cau-chuyen-cho-con-thanh-nguoi-tu-te.jpg"
            //-       )
            //-     .card-body.noidungsp.mt-3
            //-       h3.card-title.ten
            //-         | Bộ Sách Những Câu Chuyện Cho Con Thành Người Tử Tế (Bộ 5
            //-         |   Cuốn)
            //-       small.tacgia.text-muted Nhiều Tác Giả
            //-       .gia.d-flex.align-items-baseline
            //-         .giamoi 111.200 ₫
            //-         .giacu.text-muted 139.000 ₫
            //-         .sale -20%
            //-       .danhgia
            //-         ul.d-flex(style="list-style: none;")
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li
            //-             i.fa.fa-star
            //-           li
            //-             span.text-muted 0 nhận xét
            //- .card
            //-   a.motsanpham(
            //-     title="Lịch Sử Thế Giới" 
            //-     data-placement="bottom" 
            //-     data-toggle="tooltip" 
            //-     style="text-decoration: none; color: black;" 
            //-     href="#"
            //-     )
            //-     img.card-img-top.anh(
            //-       alt="lich-su-the-gioi" 
            //-       src="images/lich-su-the-gioi.jpg"
            //-       )
            //-     .card-body.noidungsp.mt-3
            //-       h3.card-title.ten Lịch Sử Thế Giới
            //-       small.tacgia.text-muted Nam Phong tùng thư - Phạm Quỳnh chủ nhiệm
            //-       .gia.d-flex.align-items-baseline
            //-         .giamoi 111.200 ₫
            //-         .giacu.text-muted 139.000 ₫
            //-         .sale -20%
            //-       .danhgia
            //-         ul.d-flex(style="list-style: none;")
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li.active
            //-             i.fa.fa-star
            //-           li
            //-             i.fa.fa-star
            //-           li
            //-             span.text-muted 0 nhận xét
    // khoi sach combo hot
    section.combohot.mt-4(class="_1khoi")
      .container
        .noidung.bg-white(style=" width: 100%;")
          .row
            // header
            .col-12.d-flex.justify-content-between.align-items-center.pb-2.bg-light
              h2.header.text-uppercase(style="font-weight: 400;") MOST FAVORITE BOOK
              a.btn.btn-warning.btn-sm.text-white(href="product-list/toplike/1") See all
          .khoisanpham
            
            each book in toplikeBook
              .card(id="card-"+book._id)
                a.motsanpham(
                  title=book.name 
                  data-placement="bottom" 
                  data-toggle="tooltip" 
                  style="text-decoration: none; color: black;" 
                  href=('/product/' + book._id)
                  
                  )
                  img.card-img-top.anh(
                    alt="lap-ke-hoach-kinh-doanh-hieu-qua" 
                    src= book.image
                    )
                  .card-body.noidungsp.mt-3
                    h3.card-title.ten=book.name
                    small.tacgia.text-muted=book.author
                    .gia.d-flex.align-items-baseline
                      .giamoi
                        | #{(book.price - book.price*book.saleRate/100).toFixed(2)} $
                      .giacu.text-muted 
                        |#{book.price} $
                      .sale
                        |-#{book.saleRate}%
                    .like 
                      span.countLike(id="like-count-"+book._id)
                        |Favourite: #{book.countLike}
                      if token
                        i.fa.fa-heart(data-book-id=book._id)
                    .sell 
                      span 
                        |Purchases: #{book.countSale}
    // khoi sach sap phathanh
    section.sapphathanh.mt-4(class="_1khoi")
      .container
        .noidung.bg-white(style=" width: 100%;")
          .row
            // header
            .col-12.d-flex.justify-content-between.align-items-center.pb-2.bg-light
              h2.header.text-uppercase(style="font-weight: 400;") BEST SELLING BOOK
              a.btn.btn-warning.btn-sm.text-white(href="/product-list/topsell/1") See all
          .khoisanpham
            // 1 san pham
            each book in topsellBook
              .card
                a.motsanpham(
                 title=book.name  
                  data-placement="bottom" 
                  data-toggle="tooltip" 
                  style="text-decoration: none; color: black;" 
                  href='/product/' + book._id
                  )
                  img.card-img-top.anh(
                    alt="ngoai-giao-cua-chinh-quyen-sai-gon" 
                    src=book.image
                    )
                  .card-body.noidungsp.mt-3
                    h3.card-title.ten=book.name
                    small.tacgia.text-muted=book.author
                    .gia.d-flex.align-items-baseline
                      .giamoi
                        | #{(book.price - book.price*book.saleRate/100).toFixed(2)} $
                      .giacu.text-muted 
                        |#{book.price} $
                      .sale
                        |-#{book.saleRate}%
                    .like 
                      span.countLike(id="like-count-"+book._id)
                        |Favourite: #{book.countLike}
                      if token
                        i.fa.fa-heart(data-book-id=book._id)
                      //- i.fa.fa-heart.active
                      //- i.far.fa-heart
                    .sell 
                      span 
                        |Purchases: #{book.countSale} 
          // khoi sach sap phathanh
    section.sapphathanh.mt-4(class="_1khoi")
      .container
        .noidung.bg-white(style=" width: 100%;")
          .row
            // header
            .col-12.d-flex.justify-content-between.align-items-center.pb-2.bg-light
              h2.header.text-uppercase(style="font-weight: 400;") BEST DISCOUNT BOOK
              a.btn.btn-warning.btn-sm.text-white(href="/product-list/topsale/1") See all
          .khoisanpham
            // 1 san pham
            each book in topsaleBook
              .card
                a.motsanpham(
                 title=book.name 
                  data-placement="bottom" 
                  data-toggle="tooltip" 
                  style="text-decoration: none; color: black;" 
                  href='/product/' + book._id
                  )
                  img.card-img-top.anh(
                    alt="ngoai-giao-cua-chinh-quyen-sai-gon" 
                    src=book.image
                    )
                  .card-body.noidungsp.mt-3
                    h3.card-title.ten=book.name
                    small.tacgia.text-muted=book.author
                    .gia.d-flex.align-items-baseline
                      .giamoi
                        | #{(book.price - book.price*book.saleRate/100).toFixed(2)} $
                      .giacu.text-muted 
                        |#{book.price} $
                      .sale
                        |-#{book.saleRate}%
                    .like 
                      span.countLike(id="like-count-"+book._id)
                        |Favourite: #{book.countLike}
                      if token
                        i.fa.fa-heart(data-book-id=book._id)
                    .sell 
                      span 
                        |Purchases: #{book.countSale}
      section.sapphathanh.mt-4(class="_1khoi")
    // div _1khoi -- khoi sachnendoc
        hr
    // thanh cac dich vu :mien phi giao hang, qua tang mien phi ........
    section.abovefooter.text-white(style="background-color: #CF111A;")
      .container
        .row
          .col-lg-3.col-sm-6
            .dichvu.d-flex.align-items-center
              img(
                alt="icon-books" 
                src="images/icon-books.png"
                )
              .noidung
                h3.tieude.font-weight-bold HƠN 14.000 TỰA SÁCH HAY
                p.detail Tuyển chọn bởi EManga
          .col-lg-3.col-sm-6
            .dichvu.d-flex.align-items-center
              img(
                alt="icon-ship" 
                src="images/icon-ship.png"
                )
              .noidung
                h3.tieude.font-weight-bold MIỄN PHÍ GIAO HÀNG
                p.detail Từ 150.000đ ở TP.HCM
                p.detail Từ 300.000đ ở tỉnh thành khác
          .col-lg-3.col-sm-6
            .dichvu.d-flex.align-items-center
              img(
                alt="icon-gift" 
                src="images/icon-gift.png"
                )
              .noidung
                h3.tieude.font-weight-bold QUÀ TẶNG MIỄN PHÍ
                p.detail Tặng Bookmark
                p.detail Bao sách miễn phí
          .col-lg-3.col-sm-6
            .dichvu.d-flex.align-items-center
              img(
                alt="icon-return" 
                src="images/icon-return.png"
                )
              .noidung
                h3.tieude.font-weight-bold ĐỔI TRẢ NHANH CHÓNG
                p.detail Hàng bị lỗi được đổi trả nhanh chóng
    // footer
    footer
      .container.py-4
        .row
          .col-md-3.col-xs-6
            .gioithieu
              h3.header.text-uppercase.font-weight-bold Về EManga
              a() Giới thiệu về EManga
              a() Tuyển dụng
              .fb-like(
                data-share="true" 
                data-size="small" 
                data-action="like" 
                data-layout="button" 
                data-width="300px" 
                data-href="https://www.facebook.com/EManga-110745443947730/"
                )
          .col-md-3.col-xs-6
            .hotrokh
              h3.header.text-uppercase.font-weight-bold HỖ TRỢ KHÁCH HÀNG
              a() Hướng dẫn đặt hàng
              a() Phương thức thanh toán
              a() Phương thức vận chuyển
              a() Chính sách đổi trả
          .col-md-3.col-xs-6
            .lienket
              h3.header.text-uppercase.font-weight-bold HỢP TÁC VÀ LIÊN KẾT
              img(
                alt="dang-ky-bo-cong-thuong" 
                src="images/dang-ky-bo-cong-thuong.png"
                )
          .col-md-3.col-xs-6
            .ptthanhtoan
              h3.header.text-uppercase.font-weight-bold Phương thức thanh toán
              img(
                alt="visa-payment" 
                src="images/visa-payment.jpg"
                )
              img(
                alt="master-card-payment" 
                src="images/master-card-payment.jpg"
                )
              img(
                alt="jcb-payment" 
                src="images/jcb-payment.jpg"
                )
              img(
                alt="atm-payment" 
                src="images/atm-payment.jpg"
                )
              img(
                alt="cod-payment" 
                src="images/cod-payment.jpg"
                )
              img(
                alt="payoo-payment" 
                src="images/payoo-payment.jpg"
                )
    // nut cuon len dau trang
    .fixed-bottom
      #backtotop.btn.btn-warning.float-right.rounded-circle.nutcuonlen(
        style="background:#CF111A;" 
        href="#"
        )
        i.fa.fa-chevron-up.text-white