doctype html
html(lang="vi")
  head
    title Dealbook-Mua sách trực tuyến giá rẻ nhất
    meta(
      content="Mua sách online hay, giá tốt nhất, combo sách hot bán chạy, giảm giá cực khủng cùng với những ưu đãi như miễn phí giao hàng, quà tặng miễn phí, đổi trả nhanh chóng. Đa dạng sản phẩm, đáp ứng mọi nhu cầu." 
      name="description"
      )
    meta(
      content="nhà sách online, mua sách hay, sách hot, sách bán chạy, sách giảm giá nhiều" 
      name="keywords"
      )
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    link(
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
      rel="stylesheet"
      )
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
    link(
      href="css/home.css" 
      rel="stylesheet"
      )
    script(
      src="js/main.js" 
      type="text/javascript"
      )
    link(
      href="fontawesome_free_5.13.0/css/all.css" 
      rel="stylesheet"
      )
    link(
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      )
    link(
      href="slick/slick.css" 
      type="text/css" 
      rel="stylesheet"
      )
    link(
      href="slick/slick-theme.css" 
      type="text/css" 
      rel="stylesheet"
      )
    script(
      src="slick/slick.min.js" 
      type="text/javascript"
      )
    script(
      src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js" 
      type="text/javascript"
      )
    link(
      href="http://dealbook.xyz/" 
      rel="canonical"
      )
    meta(
      content="urDZLDaX8wQZ_-x8ztGIyHqwUQh2KRHvH9FhfoGtiEw" 
      name="google-site-verification"
      )
    link(
      href="favicon_io/apple-touch-icon.png" 
      sizes="180x180" 
      rel="apple-touch-icon"
      )
    link(
      href="favicon_io/favicon-32x32.png" 
      sizes="32x32" 
      type="image/png" 
      rel="icon"
      )
    link(
      href="favicon_io/favicon-16x16.png" 
      sizes="16x16" 
      type="image/png" 
      rel="icon"
      )
    link(
      href="favicon_io/site.webmanifest" 
      rel="manifest"
      )
    style.
      img[alt="www.000webhost.com"]{display: none;}
  body
    // code cho nut like share facebook
    #fb-root
    script(
      src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0" 
      crossorigin="anonymous" 
      defer="" 
      async=""
      )
    // header
    nav.navbar.navbar-expand-md.bg-white.navbar-light
      .container
        // logo
        a.navbar-brand(
          style="color: #CF111A;" 
          href="index.html"
          )
          b DealBook
          | .xyz
        // navbar-toggler
        button.navbar-toggler.d-lg-none(
          aria-label="Toggle navigation" 
          aria-expanded="false" 
          aria-controls="collapsibleNavId" 
          data-target="#collapsibleNavId" 
          data-toggle="collapse" 
          type="button"
          )
          span.navbar-toggler-icon
        #collapsibleNavId.collapse.navbar-collapse
          // form tìm kiếm
          form.form-inline.ml-auto.my-2.my-lg-0.mr-3
            .input-group(style="width: 520px;")
              input.form-control(
                placeholder="Nhập sách cần tìm kiếm..." 
                aria-label="Small" 
                type="text"
                )
              .input-group-append
                button.btn(
                  style="background-color: #CF111A; color: white;" 
                  type="button"
                  )
                  i.fa.fa-search
          // ô đăng nhập đăng ký giỏ hàng trên header
          ul.navbar-nav.mb-1.ml-auto
            .dropdown
              li.nav-item.account(
                data-toggle="dropdown" 
                type="button"
                )
                a.btn.btn-secondary.rounded-circle(href="#")
                  i.fa.fa-user
                a.nav-link.text-dark.text-uppercase(
                  style="display:inline-block" 
                  href="#"
                  )
                  | Tài
                  |   khoản
              .dropdown-menu(aria-labelledby="dropdownMenuButton")
                a.dropdown-item.nutdangky.text-center.mb-2(
                  data-target="#formdangky" 
                  data-toggle="modal" 
                  href="#"
                  ) Đăng ký
                a.dropdown-item.nutdangnhap.text-center(
                  data-target="#formdangnhap" 
                  data-toggle="modal" 
                  href="#"
                  ) Đăng nhập
            li.nav-item.giohang
              a.btn.btn-secondary.rounded-circle(href="gio-hang.html")
                i.fa.fa-shopping-cart
                .cart-amount 0
              a.nav-link.text-dark.giohang.text-uppercase(
                style="display:inline-block" 
                href="gio-hang.html"
                )
                | Giỏ
                |   Hàng
    // form dang ky khi click vao button tren header
    #formdangky.modal.fade.mt-5(
      aria-hidden="true" 
      aria-labelledby="dangky_tieude" 
      tabindex="-1" 
      data-backdrop="static"
      )
      .modal-dialog
        .modal-content
          .modal-header
            ul.tabs.d-flex.justify-content-around.list-unstyled.mb-0
              li.tab.tab-dangnhap.text-center
                a.text-decoration-none Đăng nhập
                hr
              li.tab.tab-dangky.text-center
                a.text-decoration-none Đăng ký
                hr
            button.close(
              aria-label="Close" 
              data-dismiss="modal" 
              type="button"
              )
              span(aria-hidden="true") ×
          .modal-body
            form#form-signup.form-signin.mt-2
              .form-label-group
                input.form-control(
                  autofocus="" 
                  required="" 
                  name="name" 
                  placeholder="Nhập họ và tên" 
                  type="text"
                  )
              .form-label-group
                input.form-control(
                  required="" 
                  name="phone" 
                  placeholder="Nhập số điện thoại" 
                  type="text"
                  )
              .form-label-group
                input.form-control(
                  required="" 
                  name="email" 
                  placeholder="Nhập địa chỉ email" 
                  type="email"
                  )
              .form-label-group
                input.form-control(
                  required="" 
                  name="password" 
                  placeholder="Nhập mật khẩu" 
                  type="password"
                  )
              .form-label-group.mb-4
                input.form-control(
                  required="" 
                  placeholder="Nhập lại mật khẩu" 
                  name="confirm_password" 
                  type="password"
                  )
              button.btn.btn-lg.btn-block.btn-signin.text-uppercase.text-white.mt-3(
                style="background: #F5A623" 
                type="submit"
                ) Đăng ký
              hr.mt-3.mb-2
              .custom-control.custom-checkbox
                p.text-center Bằng việc đăng ký, bạn đã đồng ý với DealBook về
                a.text-decoration-none.text-center(
                  style="color: #F5A623" 
                  href="#"
                  )
                  | Điều khoản dịch
                  |   vụ & Chính sách bảo mật
    // form dang nhap khi click vao button tren header
    #formdangnhap.modal.fade.mt-5(
      aria-hidden="true" 
      aria-labelledby="dangnhap_tieude" 
      tabindex="-1" 
      data-backdrop="static"
      )
      .modal-dialog
        .modal-content
          .modal-header
            ul.tabs.d-flex.justify-content-around.list-unstyled.mb-0
              li.tab.tab-dangnhap.text-center
                a.text-decoration-none Đăng nhập
                hr
              li.tab.tab-dangky.text-center
                a.text-decoration-none Đăng ký
                hr
            button.close(
              aria-label="Close" 
              data-dismiss="modal" 
              type="button"
              )
              span(aria-hidden="true") ×
          .modal-body
            form#form-signin.form-signin.mt-2
              .form-label-group
                input.form-control(
                  autofocus="" 
                  required="" 
                  name="email" 
                  placeholder="Nhập địa chỉ email" 
                  type="email"
                  )
              .form-label-group
                input.form-control(
                  required="" 
                  name="password" 
                  placeholder="Mật khẩu" 
                  type="password"
                  )
              .custom-control.custom-checkbox.mb-3
                input#customCheck1.custom-control-input(type="checkbox")
                label.custom-control-label(for="customCheck1") Nhớ mật khẩu
                a.float-right.text-decoration-none(
                  style="color: #F5A623" 
                  href="#"
                  )
                  | Quên mật
                  |   khẩu
              button.btn.btn-lg.btn-block.btn-signin.text-uppercase.text-white(
                style="background: #F5A623" 
                type="submit"
                ) Đăng nhập
              hr.my-4
              button.btn.btn-lg.btn-google.btn-block.text-uppercase(type="submit")
                i.fab.fa-google.mr-2
                | Đăng nhập bằng Google
              button.btn.btn-lg.btn-facebook.btn-block.text-uppercase(type="submit")
                i.fab.fa-facebook-f.mr-2
                | Đăng nhập bằng Facebook
    // thanh tieu de "danh muc sach" + hotline + ho tro truc tuyen
    section.duoinavbar
      .container.text-white
        .row.justify
          .col-md-3
            .categoryheader
              .noidungheader.text-white
                i.fa.fa-bars
                span.text-uppercase.font-weight-bold.ml-1 Danh mục sách
          .col-md-9
            .benphai.float-right
              .hotline
                i.fa.fa-phone
                span
                  | Hotline:
                  b 1900 1999
              i.fas.fa-comments-dollar
              a(href="#") Hỗ trợ trực tuyến
    // noi dung danh muc sach(categories) + banner slider
    section.header.bg-light
      .container
        .row
          .col-md-3(style="margin-right: -15px;")
            // CATEGORIES
            .categorycontent
              ul
                li
                  a(href="sach-kinh-te.html") Sách Kinh Tế - Kỹ Năng
                  i.fa.fa-chevron-right.float-right
                  ul
                    li.liheader
                      a.header.text-uppercase(href="#")
                        | Sách Kinh Tế - Kỹ
                        |   Năng
                    .content.trai
                      li
                        a(href="#") Kinh Tế - Chính Trị
                      li
                        a(href="#") Sách Khởi Nghiệp
                      li
                        a(href="#") Sách Tài Chính, Kế Toán
                      li
                        a(href="#") Sách Quản Trị Nhân Sự
                      li
                        a(href="#") Sách Kỹ Năng Làm Việc
                    .content.phai
                      li
                        a(href="#") Nhân Vật - Bài Học Kinh Doanh
                      li
                        a(href="#") Sách Quản Trị - Lãnh Đạo
                      li
                        a(href="#") Sách Kinh Tế Học
                      li
                        a(href="#") Sách Chứng Khoán - Bất Động Sản - Đầu Tư
                      li
                        a(href="#") Sách Marketing - Bán Hàng
                li
                  a(href="#") Nghệ Thuật Sống - Tâm Lý
                  i.fa.fa-chevron-right.float-right
                  ul
                    li.liheader
                      a.header.text-uppercase(href="#")
                        | Nghệ Thuật Sống - Tâm
                        |   Lý
                    .content.trai
                      li
                        a(href="#") Sách Nghệ Thuật Sống
                      li
                        a(href="#") Sách Tâm Lý
                      li
                        a(href="#") Sách Hướng Nghiệp
                    .content.phai
                      li
                        a(href="#") Sách Nghệ Thuật Sống Đẹp
                      li
                        a(href="#") Sách Tư Duy
                li
                  a(href="#") Sách Văn Học Việt Nam
                  i.fa.fa-chevron-right.float-right
                  ul
                    li.liheader
                      a.header.text-uppercase(href="#")
                        | Sách Văn Học Việt
                        |   Nam
                    .content.trai
                      li
                        a(href="#") Truyện Ngắn - Tản Văn
                      li
                        a(href="#") Tiểu Thuyết lịch Sử
                      li
                        a(href="#") Phóng Sự - Ký Sự - Du ký - Tùy Bút
                      li
                        a(href="#") Thơ
                    .content.phai
                      li
                        a(href="#") Tiểu thuyết
                      li
                        a(href="#") Tiểu sử - Hồi ký
                      li
                        a(href="#") Phê Bình Văn Học
                li
                  a(href="#") Sách Văn Học Nước Ngoài
                  i.fa.fa-chevron-right.float-right
                  ul
                    li.liheader
                      a.header.text-uppercase(href="#")
                        | Sách Văn Học Nước
                        |   Ngoài
                    .content.trai
                      li
                        a(href="#") Văn Học Hiện Đại
                      li
                        a(href="#") Tiểu Thuyết
                      li
                        a(href="#") Truyện Trinh Thám
                      li
                        a(href="#") Thần Thoại - Cổ Tích
                    .content.phai
                      li
                        a(href="#") Văn Học Kinh Điển
                      li
                        a(href="#") Sách Giả Tưởng - Kinh Dị
                      li
                        a(href="#") Truyện Kiếm Hiệp
                li
                  a(href="#") Sách Thiếu Nhi
                  i.fa.fa-chevron-right.float-right
                  ul
                    li.liheader
                      a.header.text-uppercase(href="#") Sách Thiếu Nhi
                    .content.trai
                      li
                        a(href="#") Mẫu Giáo
                      li
                        a(href="#") Thiếu Niên
                      li
                        a(href="#") Kiến Thức - Bách Khoa
                      li
                        a(href="#") Truyện Cổ Tích
                    .content.phai
                      li
                        a(href="#") Nhi Đồng
                      li
                        a(href="#") Văn Học Thiếu Nhi
                      li
                        a(href="#") Kỹ Năng Sống
                      li
                        a(href="#") Truyện Tranh
                li
                  a(href="#") Sách Giáo Dục - Gia Đình
                  i.fa.fa-chevron-right.float-right
                  ul
                    li.liheader
                      a.header.text-uppercase(href="#")
                        | Sách Giáo Dục - Gia
                        |   Đình
                    .content.trai
                      li
                        a(href="#") Giáo dục
                      li
                        a(href="#") Thai Giáo
                      li
                        a(href="#") Sách Dinh Dưỡng - Chăm Sóc Trẻ
                      li
                        a(href="#") Ẩm Thực - Nấu Ăn
                      li
                        a(href="#") Sách Tham Khảo
                    .content.phai
                      li
                        a(href="#") Giới Tính
                      li
                        a(href="#") Sách Làm Cha Mẹ
                      li
                        a(href="#") Kiến Thức - Kỹ Năng Cho Trẻ
                      li
                        a(href="#") Ngoại Ngữ - Từ Điển
                li
                  a(href="#") Sách Lịch Sử
                  i.fa.fa-chevron-right.float-right
                  ul
                    li.liheader
                      a.header.text-uppercase(href="#") Sách Lịch Sử
                    .content.trai
                      li
                        a(href="#") Lịch Sử Việt Nam
                    .content.phai
                      li
                        a(href="#") Lịch Sử Thế Giới
                li
                  a(href="#") Sách Văn Hóa - Nghệ Thuật
                  i.fa.fa-chevron-right.float-right
                  ul
                    li.liheader
                      a.header.text-uppercase(href="#")
                        | Sách Văn Hóa - Nghệ
                        |   Thuật
                    .content.trai
                      li
                        a(href="#") Văn Hóa
                      li
                        a(href="#") Phong Tục Tập Quán
                      li
                        a(href="#") Phong Thủy
                    .content.phai
                      li
                        a(href="#") Nghệ Thuật
                      li
                        a(href="#") Kiến Trúc
                      li
                        a(href="#") Du Lịch
                li
                  a(href="#") Sách Khoa Học - Triết Học
                  i.fa.fa-chevron-right.float-right
                  ul
                    li.liheader
                      a.header.text-uppercase(href="#")
                        | Sách Khoa Học - Triết
                        |   Học
                    .content.trai
                      li
                        a(href="#") Triết Học Phương Tây
                      li
                        a(href="#") Khoa Học Cơ Bản
                    .content.phai
                      li
                        a(href="#") Minh Tiết Phương Đông
                li
                  a(href="#") Sách Tâm Linh - Tôn Giáo
                  i.fa.fa-chevron-right.float-right
                li
                  a(href="#") Sách Y Học - Thực Dưỡng
                  i.fa.fa-chevron-right.float-right
                  ul
                    li.liheader
                      a.header.text-uppercase(href="#")
                        | Sách Y Học - Thực
                        |   Dưỡng
                    .content.trai
                      li
                        a(href="#") Chăm Sóc Sức Khỏe
                      li
                        a(href="#") Y Học
                      li
                        a(href="#") Thiền - Yoga
                    .content.phai
                      li
                        a(href="#") Thực Dưỡng
                      li
                        a(href="#") Đông Y - Cổ Truyền
          // banner slider
          .col-md-9.px-0
            #carouselId.carousel.slide(data-ride="carousel")
              ol.nutcarousel.carousel-indicators.rounded-circle
                li.active(
                  data-slide-to="0" 
                  data-target="#carouselId"
                  )
                li(
                  data-slide-to="1" 
                  data-target="#carouselId"
                  )
                li(
                  data-slide-to="2" 
                  data-target="#carouselId"
                  )
              .carousel-inner
                .carousel-item.active
                  a(href="#")
                    img.img-fluid(
                      alt="First slide" 
                      width="900px" 
                      style="height: 386px;" 
                      src="images/banner-sach-moi.jpg"
                      )
                .carousel-item
                  a(href="#")
                    img.img-fluid(
                      alt="Second slide" 
                      width="900px" 
                      style="height: 386px;" 
                      src="images/banner-beethoven.jpg"
                      )
                .carousel-item
                  a(href="#")
                    img.img-fluid(
                      alt="Third slide" 
                      style="height: 386px;" 
                      src="images/neu-toi-biet-duoc-khi-20-full-banner.jpg"
                      )
              a.carousel-control-prev(
                data-slide="prev" 
                href="#carouselId"
                )
                span.carousel-control-prev-icon(aria-hidden="true")
                span.sr-only Previous
              a.carousel-control-next(
                data-slide="next" 
                href="#carouselId"
                )
                span.carousel-control-next-icon(aria-hidden="true")
                span.sr-only Next
    // khoi sach moi
    section.sachmoi.bg-white(class="_1khoi")
      .container
        .noidung(style=" width: 100%;")
          .row
            // header
            .col-12.d-flex.justify-content-between.align-items-center.pb-2.bg-transparent.pt-4
              h1.header.text-uppercase(style="font-weight: 400;") SÁCH MỚI TUYỂN CHỌN
              a.btn.btn-warning.btn-sm.text-white(href="sach-moi-tuyen-chon.html") Xem tất cả
          .khoisanpham(style="padding-bottom: 2rem;")
            // 1 san pham
            .card
              a.motsanpham(
                title="Lập Kế Hoạch Kinh Doanh Hiệu Quả" 
                data-placement="bottom" 
                data-toggle="tooltip" 
                style="text-decoration: none; color: black;" 
                href="Lap-trinh-ke-hoach-kinh-doanh-hieu-qua.html"
                )
                img.card-img-top.anh(
                  alt="lap-ke-hoach-kinh-doanh-hieu-qua" 
                  src="images/lap-ke-hoach-kinh-doanh-hieu-qua.jpg"
                  )
                .card-body.noidungsp.mt-3
                  h3.card-title.ten Lập Kế Hoạch Kinh Doanh Hiệu Quả
                  small.tacgia.text-muted Brian Finch
                  .gia.d-flex.align-items-baseline
                    .giamoi 111.200 ₫
                    .giacu.text-muted 139.000 ₫
                    .sale -20%
                  .danhgia
                    ul.d-flex(style="list-style: none;")
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        span.text-muted 0 nhận xét
            .card
              a.motsanpham(
                title="Ma Bùn Lưu Manh Và Những Câu Chuyện Khác Của Nguyễn Trí" 
                data-placement="bottom" 
                data-toggle="tooltip" 
                style="text-decoration: none; color: black;" 
                href="Ma-bun-luu-manh-va-nhung-cau-chuyen-khac-cua-nguyen-tri.html"
                )
                img.card-img-top.anh(
                  alt="ma-bun-luu-manh" 
                  src="images/ma-bun-luu-manh.jpg"
                  )
                .card-body.noidungsp.mt-3
                  h3.card-title.ten
                    | Ma Bùn Lưu Manh Và Những Câu Chuyện Khác Của Nguyễn
                    |   Trí
                  small.tacgia.text-muted Nguyễn Trí
                  .gia.d-flex.align-items-baseline
                    .giamoi 68.000 ₫
                    .giacu.text-muted 85.000 ₫
                    .sale -20%
                  .danhgia
                    ul.d-flex(style="list-style: none;")
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        span.text-muted 0 nhận xét
            .card
              a.motsanpham(
                title="Bank 4.0 - Giao dịch mọi nơi, không chỉ là ngân hàng" 
                data-placement="bottom" 
                data-toggle="tooltip" 
                style="text-decoration: none; color: black;" 
                href="#"
                )
                img.card-img-top.anh(
                  alt="bank-4.0" 
                  src="images/bank-4.0.jpg"
                  )
                .card-body.noidungsp.mt-3
                  h3.card-title.ten Bank 4.0 - Giao dịch mọi nơi, không chỉ là ngân hàng
                  small.tacgia.text-muted Brett King
                  .gia.d-flex.align-items-baseline
                    .giamoi 111.200 ₫
                    .giacu.text-muted 139.000 ₫
                    .sale -20%
                  .danhgia
                    ul.d-flex(style="list-style: none;")
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        span.text-muted 0 nhận xét
            .card
              a.motsanpham(
                title="Bộ Sách 500 Câu Chuyện Đạo Đức - Những Câu Chuyện Tình Thân (Bộ 8 Cuốn)" 
                data-placement="bottom" 
                data-toggle="tooltip" 
                style="text-decoration: none; color: black;" 
                href="#"
                )
                img.card-img-top.anh(
                  alt="bo-sach-500-cau-chuyen-dao-duc" 
                  src="images/bo-sach-500-cau-chuyen-dao-duc.jpg"
                  )
                .card-body.noidungsp.mt-3
                  h3.card-title.ten
                    | Bộ Sách 500 Câu Chuyện Đạo Đức - Những Câu Chuyện
                    |   Tình Thân (Bộ 8 Cuốn)
                  small.tacgia.text-muted Nguyễn Hạnh - Trần Thị Thanh Nguyên
                  .gia.d-flex.align-items-baseline
                    .giamoi 111.200 ₫
                    .giacu.text-muted 139.000 ₫
                    .sale -20%
                  .danhgia
                    ul.d-flex(style="list-style: none;")
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        span.text-muted 0 nhận xét
            .card
              a.motsanpham(
                title="Lịch Sử Ung Thư - Hoàng Đế Của Bách Bệnh" 
                data-placement="bottom" 
                data-toggle="tooltip" 
                style="text-decoration: none; color: black;" 
                href="#"
                )
                img.card-img-top.anh(
                  alt="ung-thu-hoang-de-cua-bach-benh" 
                  src="images/ung-thu-hoang-de-cua-bach-benh.jpg"
                  )
                .card-body.noidungsp.mt-3
                  h3.card-title.ten Lịch Sử Ung Thư - Hoàng Đế Của Bách Bệnh
                  small.tacgia.text-muted Siddhartha Mukherjee
                  .gia.d-flex.align-items-baseline
                    .giamoi 111.200 ₫
                    .giacu.text-muted 139.000 ₫
                    .sale -20%
                  .danhgia
                    ul.d-flex(style="list-style: none;")
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        span.text-muted 0 nhận xét
            .card
              a.motsanpham(
                title="Cuốn Sách Khám Phá: Trời Đêm Huyền Diệu" 
                data-placement="bottom" 
                data-toggle="tooltip" 
                style="text-decoration: none; color: black;" 
                href="#"
                )
                img.card-img-top.anh(
                  alt="troi-dem-huyen-dieu" 
                  src="images/troi-dem-huyen-dieu.jpg"
                  )
                .card-body.noidungsp.mt-3
                  h3.card-title.ten Cuốn Sách Khám Phá: Trời Đêm Huyền Diệu
                  small.tacgia.text-muted Disney Learning
                  .gia.d-flex.align-items-baseline
                    .giamoi 111.200 ₫
                    .giacu.text-muted 139.000 ₫
                    .sale -20%
                  .danhgia
                    ul.d-flex(style="list-style: none;")
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        span.text-muted 0 nhận xét
            .card
              a.motsanpham(
                title="Bộ Sách Những Câu Chuyện Cho Con Thành Người Tử Tế (Bộ 5 Cuốn)" 
                data-placement="bottom" 
                data-toggle="tooltip" 
                style="text-decoration: none; color: black;" 
                href="#"
                )
                img.card-img-top.anh(
                  alt="bo-sach-nhung-cau-chuyen-cho-con-thanh-nguoi-tu-te" 
                  src="images/bo-sach-nhung-cau-chuyen-cho-con-thanh-nguoi-tu-te.jpg"
                  )
                .card-body.noidungsp.mt-3
                  h3.card-title.ten
                    | Bộ Sách Những Câu Chuyện Cho Con Thành Người Tử Tế (Bộ 5
                    |   Cuốn)
                  small.tacgia.text-muted Nhiều Tác Giả
                  .gia.d-flex.align-items-baseline
                    .giamoi 111.200 ₫
                    .giacu.text-muted 139.000 ₫
                    .sale -20%
                  .danhgia
                    ul.d-flex(style="list-style: none;")
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        span.text-muted 0 nhận xét
            .card
              a.motsanpham(
                title="Lịch Sử Thế Giới" 
                data-placement="bottom" 
                data-toggle="tooltip" 
                style="text-decoration: none; color: black;" 
                href="#"
                )
                img.card-img-top.anh(
                  alt="lich-su-the-gioi" 
                  src="images/lich-su-the-gioi.jpg"
                  )
                .card-body.noidungsp.mt-3
                  h3.card-title.ten Lịch Sử Thế Giới
                  small.tacgia.text-muted Nam Phong tùng thư - Phạm Quỳnh chủ nhiệm
                  .gia.d-flex.align-items-baseline
                    .giamoi 111.200 ₫
                    .giacu.text-muted 139.000 ₫
                    .sale -20%
                  .danhgia
                    ul.d-flex(style="list-style: none;")
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        span.text-muted 0 nhận xét
    // khoi sach combo hot
    section.combohot.mt-4(class="_1khoi")
      .container
        .noidung.bg-white(style=" width: 100%;")
          .row
            // header
            .col-12.d-flex.justify-content-between.align-items-center.pb-2.bg-light
              h2.header.text-uppercase(style="font-weight: 400;") COMBO SÁCH HOT - GIẢM ĐẾN 25%
              a.btn.btn-warning.btn-sm.text-white(href="#") Xem tất cả
          .khoisanpham
            .card
              a.motsanpham(
                title="Chuyện Nghề Và Chuyện Đời - Bộ 4 Cuốn" 
                data-placement="bottom" 
                data-toggle="tooltip" 
                style="text-decoration: none; color: black;" 
                href="#"
                )
                img.card-img-top.anh(
                  alt="combo-chuyen-nghe-chuyen-doi" 
                  src="images/combo-chuyen-nghe-chuyen-doi.jpg"
                  )
                .card-body.noidungsp.mt-3
                  h3.card-title.ten Chuyện Nghề Và Chuyện Đời - Bộ 4 Cuốn
                  small.tacgia.text-muted Nguyễn Hữu Long
                  .gia.d-flex.align-items-baseline
                    .giamoi 111.200 ₫
                    .giacu.text-muted 139.000 ₫
                    .sale -20%
                  .danhgia
                    ul.d-flex(style="list-style: none;")
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        span.text-muted 0 nhận xét
            .card
              a.motsanpham(
                title="Combo Mẹ Con Sư Tử - Bồ Tát Ngàn Tay Ngàn Mắt" 
                data-placement="bottom" 
                data-toggle="tooltip" 
                style="text-decoration: none; color: black;" 
                href="#"
                )
                img.card-img-top.anh(
                  alt="combo-me-con-su-tu-bo-tat-ngan-tay-ngan-mat" 
                  src="images/combo-me-con-su-tu-bo-tat-ngan-tay-ngan-mat.jpg"
                  )
                .card-body.noidungsp.mt-3
                  h3.card-title.ten Combo Mẹ Con Sư Tử - Bồ Tát Ngàn Tay Ngàn Mắt
                  small.tacgia.text-muted Thích Nhất Hạnh
                  .gia.d-flex.align-items-baseline
                    .giamoi 111.200 ₫
                    .giacu.text-muted 139.000 ₫
                    .sale -20%
                  .danhgia
                    ul.d-flex(style="list-style: none;")
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        span.text-muted 0 nhận xét
            .card
              a.motsanpham(
                title="Combo Osho: Hạnh Phúc Tại Tâm, Can Đảm Biến Thách Thức Thành Sức Mạnh & Sáng Tạo Bừng Cháy Sức Mạnh Bên Trong" 
                data-placement="bottom" 
                data-toggle="tooltip" 
                style="text-decoration: none; color: black;" 
                href="#"
                )
                img.card-img-top.anh(
                  alt="combo-hanh-phuc-sang-tao" 
                  src="images/combo-hanh-phuc-sang-tao.jpg"
                  )
                .card-body.noidungsp.mt-3
                  h3.card-title.ten
                    | Combo Osho: Hạnh Phúc Tại Tâm, Can Đảm Biến Thách Thức Thành
                    |   Sức Mạnh & Sáng Tạo Bừng Cháy Sức Mạnh Bên Trong
                  small.tacgia.text-muted Gosho Aoyama, Mutsuki Watanabe, Takahisa Taira
                  .gia.d-flex.align-items-baseline
                    .giamoi 111.200 ₫
                    .giacu.text-muted 139.000 ₫
                    .sale -20%
                  .danhgia
                    ul.d-flex(style="list-style: none;")
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        span.text-muted 0 nhận xét
            .card
              a.motsanpham(
                title="Combo Giáo Dục Và Ý Nghĩa Cuộc Sống Và Bạn Đang Nghịch Gì Với Đời Mình?" 
                data-placement="bottom" 
                data-toggle="tooltip" 
                style="text-decoration: none; color: black;" 
                href="#"
                )
                img.card-img-top.anh(
                  alt="combo-giao-duc-va-y-nghia-cuoc-song" 
                  src="images/combo-giao-duc-va-y-nghia-cuoc-song.jpg"
                  )
                .card-body.noidungsp.mt-3
                  h3.card-title.ten
                    | Combo Giáo Dục Và Ý Nghĩa Cuộc Sống Và Bạn Đang Nghịch Gì Với
                    |   Đời Mình?
                  small.tacgia.text-muted J.Krishnamurti
                  .gia.d-flex.align-items-baseline
                    .giamoi 111.200 ₫
                    .giacu.text-muted 139.000 ₫
                    .sale -20%
                  .danhgia
                    ul.d-flex(style="list-style: none;")
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        span.text-muted 0 nhận xét
            .card
              a.motsanpham(
                title="Combo Dinh Dưỡng Xanh - Thần dược xanh" 
                data-placement="bottom" 
                data-toggle="tooltip" 
                style="text-decoration: none; color: black;" 
                href="#"
                )
                img.card-img-top.anh(
                  alt="combo-dinh-duong-than-duoc-xanh" 
                  src="images/combo-dinh-duong-than-duoc-xanh.jpg"
                  )
                .card-body.noidungsp.mt-3
                  h3.card-title.ten Combo Dinh Dưỡng Xanh - Thần dược xanh
                  small.tacgia.text-muted Ryu Seung-SunVictoria Boutenko
                  .gia.d-flex.align-items-baseline
                    .giamoi 111.200 ₫
                    .giacu.text-muted 139.000 ₫
                    .sale -20%
                  .danhgia
                    ul.d-flex(style="list-style: none;")
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        span.text-muted 0 nhận xét
            .card
              a.motsanpham(
                title="Combo Ăn Xanh Để Khỏe - Sống Lành Để Trẻ" 
                data-placement="bottom" 
                data-toggle="tooltip" 
                style="text-decoration: none; color: black;" 
                href="#"
                )
                img.card-img-top.anh(
                  alt="combo-an-xanh-song-lanh" 
                  src="images/combo-an-xanh-song-lanh.jpg"
                  )
                .card-body.noidungsp.mt-3
                  h3.card-title.ten Combo Ăn Xanh Để Khỏe - Sống Lành Để Trẻ
                  small.tacgia.text-muted Norman W. Walker
                  .gia.d-flex.align-items-baseline
                    .giamoi 111.200 ₫
                    .giacu.text-muted 139.000 ₫
                    .sale -20%
                  .danhgia
                    ul.d-flex(style="list-style: none;")
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        span.text-muted 0 nhận xét
            .card
              a.motsanpham(
                title="Combo Lược Sử Loài Người - Lược Sử Tương Lai - 21 Bài Học Cho Thế Kỷ 21" 
                data-placement="bottom" 
                data-toggle="tooltip" 
                style="text-decoration: none; color: black;" 
                href="#"
                )
                img.card-img-top.anh(
                  alt="combo-luoc-su-loai-nguoi" 
                  src="images/combo-luoc-su-loai-nguoi.jpg"
                  )
                .card-body.noidungsp.mt-3
                  h3.card-title.ten
                    | Combo Lược Sử Loài Người - Lược Sử Tương Lai - 21 Bài Học Cho
                    |   Thế Kỷ 21
                  small.tacgia.text-muted Yuval Noah Harari
                  .gia.d-flex.align-items-baseline
                    .giamoi 111.200 ₫
                    .giacu.text-muted 139.000 ₫
                    .sale -20%
                  .danhgia
                    ul.d-flex(style="list-style: none;")
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        span.text-muted 0 nhận xét
            .card
              a.motsanpham(
                title="Bộ Sách Phong Cách Sống (Bộ 5 Cuốn)" 
                data-placement="bottom" 
                data-toggle="tooltip" 
                style="text-decoration: none; color: black;" 
                href="#"
                )
                img.card-img-top.anh(
                  alt="combo-phong-cach-song" 
                  src="images/combo-phong-cach-song.jpg"
                  )
                .card-body.noidungsp.mt-3
                  h3.card-title.ten Bộ Sách Phong Cách Sống (Bộ 5 Cuốn)
                  small.tacgia.text-muted
                    | Marie Tourell Soderberg, Joanna Nylund, Yukari
                    |   Mitsuhashi, Margareta Magnusson, Linnea Dunne
                  .gia.d-flex.align-items-baseline
                    .giamoi 111.200 ₫
                    .giacu.text-muted 139.000 ₫
                    .sale -20%
                  .danhgia
                    ul.d-flex(style="list-style: none;")
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        span.text-muted 0 nhận xét
    // khoi sach sap phathanh
    section.sapphathanh.mt-4(class="_1khoi")
      .container
        .noidung.bg-white(style=" width: 100%;")
          .row
            // header
            .col-12.d-flex.justify-content-between.align-items-center.pb-2.bg-light
              h2.header.text-uppercase(style="font-weight: 400;") SÁCH SẮP PHÁT HÀNH / ĐẶT TRƯỚC
              a.btn.btn-warning.btn-sm.text-white(href="#") Xem tất cả
          .khoisanpham
            // 1 san pham
            .card
              a.motsanpham(
                title="Ngoại Giao Của Chính Quyền Sài Gòn" 
                data-placement="bottom" 
                data-toggle="tooltip" 
                style="text-decoration: none; color: black;" 
                href="#"
                )
                img.card-img-top.anh(
                  alt="ngoai-giao-cua-chinh-quyen-sai-gon" 
                  src="images/ngoai-giao-cua-chinh-quyen-sai-gon.jpg"
                  )
                .card-body.noidungsp.mt-3
                  h3.card-title.ten Ngoại Giao Của Chính Quyền Sài Gòn
                  small.tacgia.text-muted Brian Finch
                  .gia.d-flex.align-items-baseline
                  .danhgia
                    ul.d-flex(style="list-style: none;")
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        span.text-muted 0 nhận xét
            .card
              a.motsanpham(
                title="Đường Mây Trên Đất Hoa" 
                data-placement="bottom" 
                data-toggle="tooltip" 
                style="text-decoration: none; color: black;" 
                href="#"
                )
                img.card-img-top.anh(
                  alt="duong-may-tren-dat-hoa" 
                  src="images/duong-may-tren-dat-hoa.jpg"
                  )
                .card-body.noidungsp.mt-3
                  h3.card-title.ten Đường Mây Trên Đất Hoa
                  small.tacgia.text-muted Brian Finch
                  .gia.d-flex.align-items-baseline
                  .danhgia
                    ul.d-flex(style="list-style: none;")
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        span.text-muted 0 nhận xét
            .card
              a.motsanpham(
                title="Muôn Kiếp Nhân Sinh" 
                data-placement="bottom" 
                data-toggle="tooltip" 
                style="text-decoration: none; color: black;" 
                href="#"
                )
                img.card-img-top.anh(
                  alt="muon-kiep-nhan-sinh" 
                  src="images/muon-kiep-nhan-sinh.jpg"
                  )
                .card-body.noidungsp.mt-3
                  h3.card-title.ten Muôn Kiếp Nhân Sinh
                  small.tacgia.text-muted Brian Finch
                  .gia.d-flex.align-items-baseline
                  .danhgia
                    ul.d-flex(style="list-style: none;")
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        span.text-muted 0 nhận xét
            .card
              a.motsanpham(
                title="Đường Mây Trong Cõi Mộng" 
                data-placement="bottom" 
                data-toggle="tooltip" 
                style="text-decoration: none; color: black;" 
                href="#"
                )
                img.card-img-top.anh(
                  alt="duong-may-trong-coi-mong.jpg" 
                  src="images/duong-may-trong-coi-mong.jpg"
                  )
                .card-body.noidungsp.mt-3
                  h3.card-title.ten Đường Mây Trong Cõi Mộng
                  small.tacgia.text-muted Brian Finch
                  .gia.d-flex.align-items-baseline
                  .danhgia
                    ul.d-flex(style="list-style: none;")
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li.active
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        span.text-muted 0 nhận xét
    // div _1khoi -- khoi sachnendoc
    section.sachnendoc.bg-white.mt-4(class="_1khoi")
      .container
        .noidung(style=" width: 100%;")
          .row
            // header
            .col-12.d-flex.justify-content-between.align-items-center.pb-2.bg-transparent.pt-4
              h2.header.text-uppercase(style="font-weight: 400;") SÁCH HAY NÊN ĐỌC
              a.btn.btn-warning.btn-sm.text-white(href="#") Xem tất cả
            // 1 san pham
            .col-lg.col-sm-4
              .card
                a.motsanpham(
                  title="Từng bước chân nở hoa: Khi câu kinh bước tới" 
                  data-placement="bottom" 
                  data-toggle="tooltip" 
                  style="text-decoration: none; color: black;" 
                  href="#"
                  )
                  img.card-img-top.anh(
                    alt="tung-buoc-chan-no-hoa" 
                    src="images/tung-buoc-chan-no-hoa.jpg"
                    )
                .card-body.noidungsp.mt-3
                  a.motsanpham(
                    title="Từng bước chân nở hoa: Khi câu kinh bước tới" 
                    data-placement="bottom" 
                    data-toggle="tooltip" 
                    style="text-decoration: none; color: black;" 
                    href="#"
                    )
                    h3.card-title.ten Từng bước chân nở hoa: Khi câu kinh bước tới
                    small.thoigian.text-muted 03/04/2020
                  div
                    a.motsanpham(
                      title="Từng bước chân nở hoa: Khi câu kinh bước tới" 
                      data-placement="bottom" 
                      data-toggle="tooltip" 
                      style="text-decoration: none; color: black;" 
                      href="#"
                      )
                    a.detail(href="#") Xem chi tiết
            .col-lg.col-sm-4
              .card
                a.motsanpham(
                  title="Cảm ơn vì đã được thương" 
                  data-placement="bottom" 
                  data-toggle="tooltip" 
                  style="text-decoration: none; color: black;" 
                  href="#"
                  )
                  img.card-img-top.anh(
                    alt="cam-on-vi-da-duoc-thuong" 
                    src="images/cam-on-vi-da-duoc-thuong.jpg"
                    )
                .card-body.noidungsp.mt-3
                  a.motsanpham(
                    title="Cảm ơn vì đã được thương" 
                    data-placement="bottom" 
                    data-toggle="tooltip" 
                    style="text-decoration: none; color: black;" 
                    href="#"
                    )
                    h3.card-title.ten Cảm ơn vì đã được thương
                    small.thoigian.text-muted 31/03/2020
                  div
                    a.motsanpham(
                      title="Cảm ơn vì đã được thương" 
                      data-placement="bottom" 
                      data-toggle="tooltip" 
                      style="text-decoration: none; color: black;" 
                      href="#"
                      )
                    a.detail(href="#") Xem chi tiết
            .col-lg.col-sm-4
              .card
                a.motsanpham(
                  title="Hào quang của vua Gia Long trong mắt Michel Gaultier" 
                  data-placement="bottom" 
                  data-toggle="tooltip" 
                  style="text-decoration: none; color: black;" 
                  href="#"
                  )
                  img.card-img-top.anh(
                    alt="vua-gia-long" 
                    src="images/vua-gia-long.jpg"
                    )
                .card-body.noidungsp.mt-3
                  a.motsanpham(
                    title="Hào quang của vua Gia Long trong mắt Michel Gaultier" 
                    data-placement="bottom" 
                    data-toggle="tooltip" 
                    style="text-decoration: none; color: black;" 
                    href="#"
                    )
                    h3.card-title.ten Hào quang của vua Gia Long trong mắt Michel Gaultier
                    small.thoigian.text-muted 21/03/2020
                  div
                    a.motsanpham(
                      title="Hào quang của vua Gia Long trong mắt Michel Gaultier" 
                      data-placement="bottom" 
                      data-toggle="tooltip" 
                      style="text-decoration: none; color: black;" 
                      href="#"
                      )
                    a.detail(href="#") Xem chi tiết
            .col-lg.col-sm-4
              .card
                a.motsanpham(
                  title="Suối nguồn” và cái tôi hiện sinh trong từng cá thể" 
                  data-placement="bottom" 
                  data-toggle="tooltip" 
                  style="text-decoration: none; color: black;" 
                  href="#"
                  )
                  img.card-img-top.anh(
                    alt="suoi-nguon-va-cai-toi-trong-tung-ca-the" 
                    src="images/suoi-nguon-va-cai-toi-trong-tung-ca-the.jpg"
                    )
                .card-body.noidungsp.mt-3
                  a.motsanpham(
                    title="Suối nguồn” và cái tôi hiện sinh trong từng cá thể" 
                    data-placement="bottom" 
                    data-toggle="tooltip" 
                    style="text-decoration: none; color: black;" 
                    href="#"
                    )
                    h3.card-title.ten "Suối nguồn” và cái tôi hiện sinh trong từng cá thể
                    small.thoigian.text-muted 16/03/2020
                  div
                    a.motsanpham(
                      title="Suối nguồn” và cái tôi hiện sinh trong từng cá thể" 
                      data-placement="bottom" 
                      data-toggle="tooltip" 
                      style="text-decoration: none; color: black;" 
                      href="#"
                      )
                    a.detail(href="#") Xem chi tiết
            .col-lg.col-sm-4
              .card.cuoicung
                a.motsanpham(
                  title="Đại dịch trên những con đường tơ lụa" 
                  data-placement="bottom" 
                  data-toggle="tooltip" 
                  style="text-decoration: none; color: black;" 
                  href="#"
                  )
                  img.card-img-top.anh(
                    alt="dai-dich-tren-con-duong-to-lua" 
                    src="images/dai-dich-tren-con-duong-to-lua.jpg"
                    )
                .card-body.noidungsp.mt-3
                  a.motsanpham(
                    title="Đại dịch trên những con đường tơ lụa" 
                    data-placement="bottom" 
                    data-toggle="tooltip" 
                    style="text-decoration: none; color: black;" 
                    href="#"
                    )
                    h3.card-title.ten Đại dịch trên những con đường tơ lụa
                    small.thoigian.text-muted 16/03/2020
                  div
                    a.motsanpham(
                      title="Đại dịch trên những con đường tơ lụa" 
                      data-placement="bottom" 
                      data-toggle="tooltip" 
                      style="text-decoration: none; color: black;" 
                      href="#"
                      )
                    a.detail(href="#") Xem chi tiết
        hr
    // thanh cac dich vu :mien phi giao hang, qua tang mien phi ........
    section.abovefooter.text-white(style="background-color: #CF111A;")
      .container
        .row
          .col-lg-3.col-sm-6
            .dichvu.d-flex.align-items-center
              img(
                alt="icon-books" 
                src="images/icon-books.png"
                )
              .noidung
                h3.tieude.font-weight-bold HƠN 14.000 TỰA SÁCH HAY
                p.detail Tuyển chọn bởi DealBooks
          .col-lg-3.col-sm-6
            .dichvu.d-flex.align-items-center
              img(
                alt="icon-ship" 
                src="images/icon-ship.png"
                )
              .noidung
                h3.tieude.font-weight-bold MIỄN PHÍ GIAO HÀNG
                p.detail Từ 150.000đ ở TP.HCM
                p.detail Từ 300.000đ ở tỉnh thành khác
          .col-lg-3.col-sm-6
            .dichvu.d-flex.align-items-center
              img(
                alt="icon-gift" 
                src="images/icon-gift.png"
                )
              .noidung
                h3.tieude.font-weight-bold QUÀ TẶNG MIỄN PHÍ
                p.detail Tặng Bookmark
                p.detail Bao sách miễn phí
          .col-lg-3.col-sm-6
            .dichvu.d-flex.align-items-center
              img(
                alt="icon-return" 
                src="images/icon-return.png"
                )
              .noidung
                h3.tieude.font-weight-bold ĐỔI TRẢ NHANH CHÓNG
                p.detail Hàng bị lỗi được đổi trả nhanh chóng
    // footer
    footer
      .container.py-4
        .row
          .col-md-3.col-xs-6
            .gioithieu
              h3.header.text-uppercase.font-weight-bold Về DealBook
              a(href="#") Giới thiệu về DealBook
              a(href="#") Tuyển dụng
              .fb-like(
                data-share="true" 
                data-size="small" 
                data-action="like" 
                data-layout="button" 
                data-width="300px" 
                data-href="https://www.facebook.com/DealBook-110745443947730/"
                )
          .col-md-3.col-xs-6
            .hotrokh
              h3.header.text-uppercase.font-weight-bold HỖ TRỢ KHÁCH HÀNG
              a(href="#") Hướng dẫn đặt hàng
              a(href="#") Phương thức thanh toán
              a(href="#") Phương thức vận chuyển
              a(href="#") Chính sách đổi trả
          .col-md-3.col-xs-6
            .lienket
              h3.header.text-uppercase.font-weight-bold HỢP TÁC VÀ LIÊN KẾT
              img(
                alt="dang-ky-bo-cong-thuong" 
                src="images/dang-ky-bo-cong-thuong.png"
                )
          .col-md-3.col-xs-6
            .ptthanhtoan
              h3.header.text-uppercase.font-weight-bold Phương thức thanh toán
              img(
                alt="visa-payment" 
                src="images/visa-payment.jpg"
                )
              img(
                alt="master-card-payment" 
                src="images/master-card-payment.jpg"
                )
              img(
                alt="jcb-payment" 
                src="images/jcb-payment.jpg"
                )
              img(
                alt="atm-payment" 
                src="images/atm-payment.jpg"
                )
              img(
                alt="cod-payment" 
                src="images/cod-payment.jpg"
                )
              img(
                alt="payoo-payment" 
                src="images/payoo-payment.jpg"
                )
    // nut cuon len dau trang
    .fixed-bottom
      #backtotop.btn.btn-warning.float-right.rounded-circle.nutcuonlen(
        style="background:#CF111A;" 
        href="#"
        )
        i.fa.fa-chevron-up.text-white