- const moment = locals.moment;
-function favorBook(array, bookId) {
-       for (let i = 0; i <array.length; i++) {
-         if (array[i] == bookId){
-             return true;}
-}
-}
-function ownedBook(array, bookId) {
-       for (let i = 0; i <array.length; i++) {
-         if (array[i] == bookId){
-             return true;}
-       
-}
-}

doctype html
html(lang="li")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    link(
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
      rel="stylesheet"
    )
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js")
    link(
      href="/css/product-item.css" 
      rel="stylesheet"
      )
    script(
      src="/js/main.js" 
      type="text/javascript"
      defer
      )
    script(
      src="/js/sub.js" 
      type="text/javascript"
      defer
      )
    script(
      src="/js/cookies.js" 
      type="text/javascript"
      defer
      )
    //- 
    link(
      href="/fontawesome_free_5.13.0/css/all.css" 
      rel="stylesheet"
      )
    link(
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      )
    link(
      href="/slick/slick.css" 
      type="text/css" 
      rel="stylesheet"
      )
    link(
      href="/slick/slick-theme.css" 
      type="text/css" 
      rel="stylesheet"
      )
    script(
      src="/slick/slick.min.js" 
      type="text/javascript"
      )
    link(
      href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" 
      rel="stylesheet"
      )
    script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
    script(
      src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js" 
      type="text/javascript"
      )
    link(
      href="/favicon_io/apple-touch-icon.png" 
      sizes="180x180" 
      rel="apple-touch-icon"
      )
    link(
      href="/favicon_io/favicon-32x32.png" 
      sizes="32x32" 
      type="image/png" 
      rel="icon"
      )
    link(
      href="/favicon_io/favicon-16x16.png" 
      sizes="16x16" 
      type="image/png" 
      rel="icon"
      )
    link(
      href="/favicon_io/site.webmanifest" 
      rel="manifest"
      )
    
  body
    // code cho nut like share facebook
    #fb-root
    script(
      src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0" 
      crossorigin="anonymous" 
      defer="" 
      async=""
      )
    // header
    #toast-container
      #toast-message
    nav.navbar.navbar-expand-md.bg-white.navbar-light
      .container
        // logo
        a.navbar-brand(
          style="color: #CF111A;" 
          href="/"
          )
          b EManga
        // navbar-toggler
        button.navbar-toggler.d-lg-none(
          aria-label="Toggle navigation" 
          aria-expanded="false" 
          aria-controls="collapsibleNavId" 
          data-target="#collapsibleNavId" 
          data-toggle="collapse" 
          type="button"
          )
          span.navbar-toggler-icon
        #collapsibleNavId.collapse.navbar-collapse
          // form tìm kiếm
          form#form-search.form-inline.ml-auto.my-2.my-lg-0.mr-3
            .input-group(style="width: 520px;")
              input.form-control(
                placeholder="Enter the book you want to search..." 
                aria-label="Small" 
                type="text"
                id="search"
                )
              .input-group-append
                button.btn(
                  style="background-color: #CF111A; color: white;" 
                  type="submit"
                  )
                  i.fa.fa-search
          // ô đăng nhập đăng ký giỏ hàng trên header
          ul.navbar-nav.mb-1.ml-auto
            .dropdown
              li.nav-item.account(
                data-toggle="dropdown" 
                type="button"
                )
                a.btn.btn-secondary.rounded-circle(href="#")
                  if decoded.image
                    img#img-account(alt="account-image" src=decoded.image)
                  else
                    i.fa.fa-user
                  
                a.nav-link.text-dark.text-uppercase(
                  style="display:inline-block" 
                  href="#"
                  )
                  if token 
                    p#username
                      |#{user && user.username}
                  else 
                    | Account
              .dropdown-menu(aria-labelledby="dropdownMenuButton")
                if token
                  a.dropdown-item.nutdangky.text-center.mb-2( 
                  href="/tai-khoan"
                  style="cursor: pointer"
                  ) Account detail
                  a.dropdown-item.nutdangky.text-center.mb-2( 
                  id="logout"
                  style="cursor: pointer"
                  ) Logout
                else 
                  a.dropdown-item.nutdangky.text-center.mb-2(
                    data-target="#formdangky" 
                    data-toggle="modal" 
                    href="#"
                    ) Signup
                  a.dropdown-item.nutdangnhap.text-center(
                    data-target="#formdangnhap" 
                    data-toggle="modal" 
                    href="#"
                    ) Signin

            if token
              li.nav-item.giohang
                a.btn.btn-secondary.rounded-circle(href="/gio-hang")
                  i.fa.fa-shopping-cart
                  .cart-amount 
                    |#{cartNumber}  
                a.nav-link.text-dark.giohang.text-uppercase(
                  style="display:inline-block" 
                  href="/gio-hang"
                  )
                  | My cart
            //- li.nav-item.giohang
            //-   a.btn.btn-secondary.rounded-circle(href="gio-hang.html")
            //-     i.fa.fa-shopping-cart
            //-     .cart-amount 0
            //-   a.nav-link.text-dark.giohang.text-uppercase(
            //-     style="display:inline-block" 
            //-     href="gio-hang.html"
            //-     )
            //-     | Giỏ
            //-     |   Hàng
    // form dang ky khi click vao button tren header
    #formdangky.modal.fade.mt-5(
      aria-hidden="true" 
      aria-labelledby="dangky_tieude" 
      tabindex="-1" 
      data-backdrop="static"
      )
      .modal-dialog
        .modal-content
          .modal-header
            ul.tabs.d-flex.justify-content-around.list-unstyled.mb-0
              li.tab.tab-dangnhap.text-center
                a.text-decoration-none Signin
                hr
              li.tab.tab-dangky.text-center
                a.text-decoration-none Signup
                hr
            button.close(
              aria-label="Close" 
              data-dismiss="modal" 
              type="button"
              )
              span(aria-hidden="true") ×
          .modal-body
            form#form-signup.form-signin.mt-2
              .form-label-group
                input.form-control(
                  required="" 
                  name="email" 
                  placeholder="Enter email address" 
                  type="email"
                  id="signup-email"
                  )
              .form-label-group
                input.form-control(
                  required="" 
                  name="text" 
                  placeholder="Enter full name" 
                  type="text"
                  id="signup-username"
                  )
              .form-label-group
                input.form-control(
                  required="" 
                  name="password" 
                  placeholder="Enter password" 
                  type="password"
                  id="inputPassword"
                  )
              .form-label-group.mb-4
                input.form-control(
                  required="" 
                  placeholder="Confirm the password" 
                  name="confirm_password" 
                  type="password"
                  id='confirm_password'
                  )
              button.btn.btn-lg.btn-block.btn-signin.text-uppercase.text-white.mt-3(
                style="background: #F5A623" 
                type="submit"
                ) Signup
              hr.mt-3.mb-2
              .custom-control.custom-checkbox
                p.text-center By registering, you agree to Emanga about
                a.text-decoration-none.text-center(
                  style="color: #F5A623" 
                  )
                  | Translation Terms
                  | Service & Privacy Policy
    // form dang nhap khi click vao button tren header
    #formdangnhap.modal.fade.mt-5(
      aria-hidden="true" 
      aria-labelledby="dangnhap_tieude" 
      tabindex="-1" 
      data-backdrop="static"
      )
      .modal-dialog
        .modal-content
          .modal-header
            ul.tabs.d-flex.justify-content-around.list-unstyled.mb-0
              li.tab.tab-dangnhap.text-center
                a.text-decoration-none Signin
                hr
              li.tab.tab-dangky.text-center
                a.text-decoration-none Signup
                hr
            button.close(
              aria-label="Close" 
              data-dismiss="modal" 
              type="button"
              )
              span(aria-hidden="true") ×
          .modal-body
            form#form-signin.form-signin.mt-2
              .form-label-group
                input.form-control.hi(
                  id="email"
                  autofocus="" 
                  required="" 
                  name="email" 
                  placeholder="Enter email address" 
                  type="email"
                  )
              .form-label-group
                input.form-control(
                  id="password"
                  required="" 
                  name="password" 
                  placeholder="Password" 
                  type="password"
                  )
              //- .custom-control.custom-checkbox.mb-3
              //-   input#customCheck1.custom-control-input(type="checkbox")
              //-   label.custom-control-label(for="customCheck1") Nhớ mật khẩu
              //-   a.float-right.text-decoration-none(
              //-     style="color: #F5A623" 
              //-     href="#"
              //-     )
              //-     | Quên mật
              //-     |   khẩu
              button.btn.btn-lg.btn-block.btn-signin.text-uppercase.text-white(
                style="background: #F5A623" 
                type="submit"
                ) Signin
              hr.my-4
              //- hr.my-4
              //- button.btn.btn-lg.btn-google.btn-block.text-uppercase(type="submit")
              //-   i.fab.fa-google.mr-2
              //-   | Signin bằng Google
              //- button.btn.btn-lg.btn-facebook.btn-block.text-uppercase(type="submit")
              //-   i.fab.fa-facebook-f.mr-2
              //-   | Signin bằng Facebook
    // thanh "danh muc sach" đã được ẩn bên trong + hotline + ho tro truc tuyen
    section.duoinavbar
      .container.text-white
        .row.justify
          .col-lg-3.col-md-5
            .categoryheader
              .noidungheader.text-white
                i.fa.fa-bars
                span.text-uppercase.font-weight-bold.ml-1 Book category
              // CATEGORIES
              .categorycontent
                ul
                  each tag in tags
                    li
                      a(title=tag.name
                    data-placement="" 
                    data-toggle="" 
                    style="" 
                    href=('/tag/' + tag.name +  "?page=1&limit=10"))=tag.name 
                        i.fa.fa-chevron-right.float-right
    // nội dung của trang
    section.product-page.mb-4
      .container
        // chi tiết 1 sản phẩm
        .product-detail.bg-white.p-4
          .row
            // ảnh
            .col-md-5.khoianh
              .anhto.mb-4
                a.active(
                  data-fancybox="thumb-img" 
                  href="/images/lap-ke-hoach-kinh-doanh-hieu-qua-mt.jpg"
                  
                  )
                  img.product-image(
                    style="width: 100%;" 
                    id="book-img"
                    alt="lap-ke-hoach-kinh-doanh-hieu-qua-mt" 
                    src= book.image
                    )
                a(
                  data-fancybox="thumb-img" 
                  href="/images/lap-ke-hoach-kinh-doanh-hieu-qua-ms.jpg"
                  )
              //- .list-anhchitiet.d-flex.mb-4(style="margin-left: 2rem;")
              //-   img.thumb-img.thumb1.mr-3(
              //-     alt="lap-ke-hoach-kinh-doanh-hieu-qua-mt" 
              //-     src="/images/lap-ke-hoach-kinh-doanh-hieu-qua-mt.jpg"
              //-     )
              //-   img.thumb-img.thumb2(
              //-     alt="lap-ke-hoach-kinh-doanh-hieu-qua-ms" 
              //-     src="/images/lap-ke-hoach-kinh-doanh-hieu-qua-ms.jpg"
              //-     )
            // thông tin sản phẩm: tên, giá bìa giá bán tiết kiệm, các khuyến mãi, nút chọn mua....
            .col-md-7.khoithongtin
              .row
                .col-md-12.header
                  h4#book-name.ten= book.name
                  //- .rate
                  //-   i.fa.fa-star.active
                  //-   i.fa.fa-star.active
                  //-   i.fa.fa-star.active
                  //-   i.fa.fa-star.active
                  //-   i.fa.fa-star
                  hr
                .col-md-7
                  .gia
                    .giabia
                      | Old price:
                      span#old-price.giacu.ml-2
                        |#{book.price} $
                    .giaban
                      | New price:
                      span#new-price.giamoi.font-weight-bold 
                        | #{(book.price - book.price*book.saleRate/100).toFixed(2)} $
                    .tietkiem
                      | Saving:
                      b
                      | #{(book.price*book.saleRate/100).toFixed(2)} $
                      span.sale 
                        |-#{book.saleRate}%
                  .uudai.my-3
                    h6.header.font-weight-bold Promotions & Offers at EManga:
                    ul
                      li
                        b Free ship
                        | for orders from 150,000 VND in HCMC and 300,000 VND in
                        | Other Province/City
                      li
                        b HOT book combo - 25% OFF
                      li Free Bookmark for every order
                      li Free book cover (on request)
                if(decoded)
                  if(-ownedBook(decoded.inventory || [], book._id))
                    btn(id='read-btn' class='btn w-100 text-uppercase' onclick=`window.location.href='/read-book/${ book._id}';`)  Read now!
                            .fb-like(
                              data-share="true" 
                              data-size="small" 
                              data-action="like" 
                              data-layout="button" 
                              data-width="300px" 
                              data-href="https://www.facebook.com/DealBook-110745443947730/"
                              )
                  else 
                    btn(id='buy-btn' class='nutmua btn w-100 text-uppercase')  Add to cart
                        .fb-like(
                          data-share="true" 
                          data-size="small" 
                          data-action="like" 
                          data-layout="button" 
                          data-width="300px" 
                          data-href="https://www.facebook.com/DealBook-110745443947730/"
                          )
                // thông tin khác của sản phẩm:  tác giả, ngày xuất bản, kích thước ....
                .col-md-5
                  .thongtinsach
                    ul
                      li
                        | Author:
                        a#author.tacgia(href=`/author/${book.author}`)=book.author
                      li 
                        |Publisher: #{book.publisher}
                      li 
                        |Category: 
                        each tagItem, index in book.tag
                          | #{tagItem}#{index === book.tag.length - 1 ? '' : ', '}
                      li
                        | Number of pages:
                        b 
                          |#{book.pageCount}
                      li
                        | Likes:
                        b 
                          |#{book.countLike}
                      li
                        | Purchases:
                        b 
                          |#{book.countSale}
                      
            // decripstion của 1 sản phẩm: giới thiệu , đánh giá độc giả
            .product-description.col-md-9
              // 2 tab ở trên
              nav
                #nav-tab.nav.nav-tabs(role="tablist")
                  a#nav-gioithieu-tab.nav-item.nav-link.active.text-uppercase(
                    aria-selected="true" 
                    aria-controls="nav-gioithieu" 
                    role="tab" 
                    href="#nav-gioithieu" 
                    data-toggle="tab"
                    ) Description
                 
              // nội dung của từng tab
              #nav-tabContent.tab-content
                #nav-gioithieu.tab-pane.fade.show.active.ml-3(
                  aria-labelledby="nav-gioithieu-tab" 
                  role="tabpanel"
                  )
                  h6.tieude.font-weight-bold=book.name
                  p=book.description
                // het tab nav-danhgia
              // het tab-content
            // het product-description
          // het row
        // het product-detail
      // het container
    // het product-page
    // khối sản phẩm tương tự
    section.sachmoi(class="_1khoi")
      .container
        .noidung.bg-white(style=" width: 100%;")
          .row
            // header
            .col-12.d-flex.justify-content-between.align-items-center.pb-2.bg-light.pt-4
              h5.header.text-uppercase(style="font-weight: 400;") Similar product
              //- a.btn.btn-warning.btn-sm.text-white(href="sach-moi-tuyen-chon.html") Xem tất cả
          .khoisanpham(style="padding-bottom: 2rem;")
              each bookTag in booksTag
                each bookItem in bookTag
                  if book.name!= bookItem.name
                    .card(id="card-"+bookItem._id)
                      a.motsanpham(
                        title=bookItem.name
                        data-placement="bottom" 
                        data-toggle="tooltip" 
                        style="text-decoration: none; color: black;" 
                        href=('/product/' + bookItem._id)
                        )
                        img.card-img-top.anh(
                          alt="lap-ke-hoach-kinh-doanh-hieu-qua" 
                          src= bookItem.image
                          )
                        .card-body.noidungsp.mt-3
                          h6.card-title.ten=bookItem.name
                          small.tacgia.text-muted=bookItem.author
                          .gia.d-flex.align-items-baseline
                            .giamoi 
                              | #{(bookItem.price - bookItem.price*bookItem.saleRate/100).toFixed(2)} $
                            .giacu.text-muted
                              |#{bookItem.price} 
                            .sale 
                              |-#{bookItem.saleRate}%
                          .like 
                            span.countLike(id="like-count-"+bookItem._id)
                              |Favourite: #{bookItem.countLike}
                            if token
                              if (-favorBook(decoded.favorbooks, bookItem._id))
                                i.fa.fa-heart.active(data-book-id=bookItem._id)
                              else 
                                i.fa.fa-heart(data-book-id=bookItem._id)
                          .sell 
                            span 
                              |Purchases: #{book.countSale}

          
    if token
      .container.mb-5.mt-5.comment-section
        form#form-comment.add-comment-form
          div.form-group
            label(for="content") Add a comment:
            textarea.form-control#content(name="content" rows="3" required)
          div.form-group
            input(type="hidden" name="book" value=`${book._id}`)
            input(type="hidden" name="user" value=`${decoded.userId}`)
            button.btn.btn-primary(type="submit") Add comment
        .card
          .row
            h3#comment-title.text-center.mb-5
                | Comments
            div#comment-section.col-md-12
              if comments.length > 0
                -const sortedComments = comments.sort((a, b) => {
                -return new Date(a.createdDate) - new Date(b.createdDate);
                -});
                -const reversedComments = sortedComments.reverse();
                each comment in reversedComments
                  .row.comment-item(id= 'comment-item' + comment._id)
                    .col-md-12
                      .media
                        img.mr-3.rounded-circle(alt='Bootstrap Media Preview' src=comment.user && comment.user.image)
                        .media-body
                          .row
                            .col-8.d-flex.headInfo
                              - const username = comment.user && comment.user.username.split(' ').map(str => str.charAt(0).toUpperCase() + str.slice(1)).join(' ')
                              h5
                                |#{username}
                              -const createdDate = comment.createdDate;
                              -const timeAgo = moment(createdDate).fromNow();
                              span.time - #{timeAgo}
                            .col-4
                              .pull-right.reply
                                //- a(href='#')
                                //-   span
                                //-     i.fa.fa-reply
                                //-     | Reply
                                if(decoded.userId === comment.user && comment.user._id)
                                  a(class='edit-comment' data-comment-id=comment._id)
                                    i.fa.fa-edit
                                    | Edit
                                  a(class='delete-comment',data-comment-id=comment._id, data-book-id=comment.book)
                                    i.fa.fa-trash
                                    | Delete
                          p(id= 'comment-' + comment._id)
                            | #{comment.content}
                          form(id= 'edit-form-' + comment._id, data-book-id=comment.book, data-comment-id=comment._id).d-none.form-edit
                            input(type='text' name='content' class='form-control' placeholder='Edit your comment')
                            button.btn.btn-primary(type='submit') Update
              else 
                p#comment-empty No comments yet
        
                    //- .media.mt-4
                    //-   a.pr-3(href='#')
                    //-     img.rounded-circle(alt='Bootstrap Media Another Preview' src='https://i.imgur.com/xELPaag.jpg')
                    //-   .media-body
                    //-     .row
                    //-       .col-12.d-flex
                    //-         h5 Simona Disa
                    //-         span - 3 hours ago
                    //-     | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;letters, as opposed to using &apos;Content here, content here&apos;, making it look like readable English.
    section.abovefooter.text-white(style="background-color: #CF111A;")
      .container
        .row
          .col-lg-3.col-sm-6
            .dichvu.d-flex.align-items-center
              img(
                alt="icon-books" 
                src="/images/icon-books.png"
                )
              .noidung
                h6.tieude.font-weight-bold HƠN 14.000 TỰA SÁCH HAY
                p.detail Tuyển chọn bởi DealBooks
          .col-lg-3.col-sm-6
            .dichvu.d-flex.align-items-center
              img(
                alt="icon-ship" 
                src="/images/icon-ship.png"
                )
              .noidung
                h6.tieude.font-weight-bold MIỄN PHÍ GIAO HÀNG
                p.detail Từ 150.000đ ở TP.HCM
                p.detail Từ 300.000đ ở tỉnh thành khác
          .col-lg-3.col-sm-6
            .dichvu.d-flex.align-items-center
              img(
                alt="icon-gift" 
                src="http://localhost:3500/images/icon-gift.png"
                )
              .noidung
                h6.tieude.font-weight-bold QUÀ TẶNG MIỄN PHÍ
                p.detail Tặng Bookmark
                p.detail Bao sách miễn phí
          .col-lg-3.col-sm-6
            .dichvu.d-flex.align-items-center
              img(
                alt="icon-return" 
                src="/images/icon-return.png"
                )
              .noidung
                h6.tieude.font-weight-bold ĐỔI TRẢ NHANH CHÓNG
                p.detail Hàng bị lỗi được đổi trả nhanh chóng
    // het .abovefooter
    // footer
    footer
      .container.py-4
        .row
          .col-md-3.col-xs-6
            .gioithieu
              h6.header.text-uppercase.font-weight-bold Về DealBook
              a() Giới thiệu về DealBook
              a() Tuyển dụng
              .fb-like(
                data-share="true" 
                data-size="small" 
                data-action="like" 
                data-layout="button" 
                data-width="300px" 
                data-href="https://www.facebook.com/DealBook-110745443947730/"
                )
          .col-md-3.col-xs-6
            .hotrokh
              h6.header.text-uppercase.font-weight-bold HỖ TRỢ KHÁCH HÀNG
              a() Hướng dẫn đặt hàng
              a() Phương thức thanh toán
              a() Phương thức vận chuyển
              a() Chính sách đổi trả
          .col-md-3.col-xs-6
            .lienket
              h6.header.text-uppercase.font-weight-bold HỢP TÁC VÀ LIÊN KẾT
              img(
                alt="dang-ky-bo-cong-thuong" 
                src="/images/dang-ky-bo-cong-thuong.png"
                )
          .col-md-3.col-xs-6
            .ptthanhtoan
              h6.header.text-uppercase.font-weight-bold Phương thức thanh toán
              img(
                alt="visa-payment" 
                src="/images/visa-payment.jpg"
                )
              img(
                alt="master-card-payment" 
                src="/images/master-card-payment.jpg"
                )
              img(
                alt="jcb-payment" 
                src="/images/jcb-payment.jpg"
                )
              img(
                alt="atm-payment" 
                src="/images/atm-payment.jpg"
                )
              img(
                alt="cod-payment" 
                src="/images/cod-payment.jpg"
                )
              img(
                alt="payoo-payment" 
                src="/images/payoo-payment.jpg"
                )
    // nut cuon len dau trang
    #confirm-delete-modal.modal
      .modal-content
        .modal-header
          h2 Confirm Delete
          span.close-btn ×
        .modal-body
          p Are you sure you want to delete this comment?
        .modal-footer
          button#delete-comment-confirm.btn.btn-primary Yes
          button#delete-comment-cancel.btn.btn-secondary No
    .fixed-bottom
      #backtotop.btn.btn-warning.float-right.rounded-circle.nutcuonlen(
        style="background:#CF111A;" 
        href="#"
        )
        i.fa.fa-chevron-up.text-white
    script.
      let formComment = document.querySelector('#form-comment');
      let content = document.querySelector('#content');
      
      let bookId = "";
      let userId = "";
      if (formComment) {
        const book = formComment.querySelector('input[name="book"]');
        if (book) {
          bookId = formComment.querySelector('input[name="book"]').value;
        }
        const user = formComment.querySelector('input[name="user"]');
        if (user) {
          userId = formComment.querySelector('input[name="user"]').value;
        }

        formComment.addEventListener('submit', async (e) => {
          e.preventDefault();
          let commentEmpty = document.querySelector('#comment-empty');
          if(commentEmpty) {
            commentEmpty.remove();
          }
          const formData = new FormData();
          formData.append('book', bookId);
          formData.append('user', userId);
          formData.append('content', content.value);

          try {
            const response = await fetch(`/comment/${bookId}`, {
              method: 'POST',
              body: JSON.stringify({
                "book": bookId,
                "user": userId,
                "content": content.value
              }),
              headers: {
                "Content-Type": "application/json",
              }
            });
            const data = await response.json();
            renderComment(data);
            content.value = '';
          } catch (error) {
            console.error(error);
          }
        });
      }

      function renderComment(comment) {
        const commentSection = document.querySelector('#comment-section');
        const commentEl = document.createElement('div');
        commentEl.classList.add('row');
        commentEl.classList.add('comment-item');
        commentEl.id='comment-item' + comment._id;
        const username = comment.user.username.split(' ').map(str => str.charAt(0).toUpperCase() + str.slice(1)).join(' ')
        const createdDate = comment.createdDate;
        const timeAgo = moment(createdDate).fromNow();
        commentEl.innerHTML = `
                      <div class="col-md-12">
                        <div class="media">
                          <img class="mr-3 rounded-circle" alt="Bootstrap Media Preview" src="${comment.user.image}">
                          <div class="media-body">
                            <div class="row">
                              <div class="col-8 d-flex headInfo">
                                <h5>${username}</h5>
                                <span class="time">- ${timeAgo}</span>
                              </div>
                              <div class="col-4">
                                <div class="pull-right reply">
                                  <a class="edit-comment" data-comment-id="${comment._id}">
                                    <i class="fa fa-edit"></i>
                                    Edit
                                  </a>
                                  <a class="delete-comment" data-comment-id="${comment._id}" data-book-id="${comment.book}">
                                    <i class="fa fa-trash"></i>
                                    Delete
                                  </a>
                                </div>
                              </div>
                            </div>
                            <p id="comment-${comment._id}">${comment.content}</p>
                            <form id="edit-form-${comment._id}" data-book-id="${comment.book}" data-comment-id="${comment._id}" class="d-none form-edit">
                              <input type="text" name="content" class="form-control" placeholder="Edit your comment">
                              <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    `;

        const pullRight = document.querySelector(".pull-right");
        commentSection.insertBefore(commentEl, commentSection.firstChild);
        addEventListenerComment();
      }
  p#book-id(style="display:none") #{book._id}
