doctype html
// Designined by CodingLab | www.youtube.com/codinglabyt
html(lang='en', dir='ltr')
    head
        meta(charset='UTF-8')
        // <title> Responsiive Admin Dashboard | CodingLab </title>
        link(rel='stylesheet', href='/css/admin-home.css')
        // Boxicons CDN Link
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
        link(href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css', rel='stylesheet')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
        link(rel='stylesheet', href='/css/admin-management.css')

    body
        .sidebar
            .logo-details
                i.E
                span.logo_name EManga
            ul.nav-links
                li
                    a.active(href='/admin/dashboard')
                        i.bx.bx-grid-alt
                        span.links_name Dashboard
                li
                    a(href='/admin/management/1')
                        i.bx.bx-box
                        span.links_name Book managment
                li
                    a(href='/admin/category/1')
                        i.bx.bx-box
                        span.links_name Tag management
                li
                    a(href='/admin/sale')
                        i.bx.bx-list-ul
                        span.links_name Sale list
                li.log_out
                    a(href='#')
                        i.bx.bx-log-out
                        span.links_name Log out
        section.home-section
            nav
                .sidebar-button
                    i.bx.bx-menu.sidebarBtn
                    span.dashboard Dashboard
                //- .search-box
                //-   input(type='text', placeholder='Search...')
                //-   i.bx.bx-search
 
            .home-content
    





                .d-flex.justify-content-center
                    form#add-form.w-50
                        h1 Update #{book.name} 
                        h7(style="display:none" id="bookId") #{book._id}
                        label(for="updateName") Name:
                        input#proname.form-control(type='text',name='updateName', autocomplete='off', placeholder='Name' value=book.name)
                        label(for="updateName") Author: 
                        input#proname.form-control(type='text',name='updateAuthor' ,autocomplete='off', placeholder='Author' value=book.author)

                        label(for="updateName") Tags: 
                        select#countries(name='countries', multiple='' value="Action")

                            for t,index in tags
                                if book.tag.includes(t) 
                                    option(value=index selected="selected" )=t
                                else
                                    option(value=index )=t
             
                        label(for="updateName") Description: 
                        input#proname.form-control(type='text',name='updateDescription' ,autocomplete='off', placeholder='Description' value=book.description)
                        //- label(for="updateName") Content: 
                        //- input#proname.form-control(type='text',name='updateContent', autocomplete='off', placeholder='Content' value=book.content)
                        label(for="updateName") Arist: 
                        input#proname.form-control(type='text',name='updateArtist', autocomplete='off', placeholder='Artist' value=book.artist)
                        label(for="updateName") Publisher: 
                        input#proname.form-control(type='text',name='updatePublisher', autocomplete='off', placeholder='Publisher', value=book.publisher)
                        label(for="updateName") Price: 
                        input#proname.form-control(type='text',name='updatePrice', autocomplete='off', placeholder='Price' value=book.price)
                        label(for="updateName") Discount: 
                        input#proname.form-control(type='text', name='updateDiscountRate',autocomplete='off', placeholder='DiscountRate' value=book.discountRate)
                        label(for="updateName") Page Count: 
                        input#proname.form-control(type='text',name='updatePageCount', autocomplete='off', placeholder='PageCount' value=book.pageCount)
                       
                        //- input#proname.form-control(type='text',name='updateCover' ,autocomplete='off', placeholder='Image link' value=book.image)

                        label(for="name") Cover:
                        <input type="file" id="file-cover" name="file"  style="display:block" multiple />
                        img(src=book.image style="display:block; margin-bottom:2rem")
                        label(for="name") Content:
                        <input type="file" name="file"  id="file-content" style="display:block" multiple />

                        button(id='btn-submit-update' class='btn btn-success' type="submit") Update
                            .container.text-center

                


        //- .w-100.btn.btn-success.insertmsg Data Inserted Successfully...!
        //- .w-100.btn.btn-warning.updatemsg Data Updated..! Refresh Database To See Result
        //- .w-100.btn.btn-danger.deletemsg Data Deleted..!
        //- script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        //- script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
        //- // Include Dexie
        //- script(src='https://unpkg.com/dexie@latest/dist/dexie.js')
        //- // Custom main file
        script(src='/js/updateBook.js')
        script(src='https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js')
        script.
            new MultiSelectTag('countries')  // id
       